.blog
  .g-wrapper
    .shadow-text(data-text="Наш блог") Наш блог
    .blog__block
      .blog__item
        .blog__wrap
          .blog__img_title Студия
          img.blog__img(src="../img/blog-1.png")
        .blog__content
          .blog__title Наша команда заняла 60-е место в рейтинге лучших веб-студий
          .blog__description Давно выяснено, что при оценке дизайна, читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов.
          .blog__anonce Опубликовано: 25 июня 2017
          a.link__more.link__more_black.blog__link(href="#") Подробнее
      .blog__item
        .blog__wrap
          .blog__img_title Проекты
          img.blog__img(src="../img/blog-2.png")
        .blog__content
          .blog__title Наша команда заняла 60-е место в рейтинге лучших веб-студий
          .blog__description Давно выяснено, что при оценке дизайна, читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов.
          .blog__anonce Опубликовано: 7 июня 2017
          a.link__more.link__more_black.blog__link(href="#") Подробнее

      .blog__item
        a.link__more.link__more_big.link__more_black.blog__link_right(href="#") Все статьи
