.bonuses
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="Система бонусов") Система бонусов
    .bonuses__content
      .bonuses__title Партнерское вознаграждение
      .bonuses__text За каждый проект, который партнер привел в компанию SpaceCode выплачивается комиссия, которая зависит от стоимости выполняемых работ.
      .bonuses__text.bonuses__text_bold За привлечение Клиента на разработку сайта, мобильного приложения, ПО и дизайна студия выплачивает бонус единоразово. За привлечение на разработку рекламы и SEO-продижения студия выплачивает бонус, пока Клиент работает со студией, но не более 6-и месяцев.
      table.bonuses__table
        tr.bonuses__table_tr
          th.bonuses__table_th Новые проекты
          th.bonuses__table_th Реклама и SEO
          th.bonuses__table_th Комиссия
        tr.bonuses__table_tr
          td.bonuses__table_td До 100 000 руб.
          td.bonuses__table_td До 20 000 руб.
          td.bonuses__table_td 10%
        tr.bonuses__table_tr
          td.bonuses__table_td 100 000 - 300 000 руб.
          td.bonuses__table_td 20 000 - 60 000 руб.
          td.bonuses__table_td 15%
        tr.bonuses__table_tr
          td.bonuses__table_td 300 000 - 500 000 руб.
          td.bonuses__table_td 60 000 - 100 000 руб.
          td.bonuses__table_td 20%
        tr.bonuses__table_tr
          td.bonuses__table_td Больше 500 000 руб.
          td.bonuses__table_td Больше 100 000 руб.
          td.bonuses__table_td <span style="color:#f0143a; font-weight: bold;">25%</span>


