.bonuses
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="Система бонусов") Система бонусов
    .bonuses__content
      .bonuses__title Партнерское вознаграждение + дополнительный бонус
      .bonuses__text За каждый проект, который партнер привел в компанию SpaceCode на продвижение или рекламу, партнеру выплачивается комиссия в размере 20%. Выплачивается она на ежемесячной основе на протяжении всего срока жизни данного клиента
      .bonuses__text.bonuses__text_bold Помимо данной комиссии наше агентство ежемесячно производит разовые выплаты, которые зависят от суммы новых продаж:
      table.bonuses__table
        tr.bonuses__table_tr
          th.bonuses__table_th Новые проекты
          th.bonuses__table_th Разовый бонус<span>*</span>
        tr.bonuses__table_tr
          td.bonuses__table_td Больше 100 000 руб.
          td.bonuses__table_td 10 000
        tr.bonuses__table_tr
          td.bonuses__table_td Больше 200 000 руб.
          td.bonuses__table_td 30 000
        tr.bonuses__table_tr
          td.bonuses__table_td Больше 300 000 руб.
          td.bonuses__table_td 50 000
        tr.bonuses__table_tr
          td.bonuses__table_td Больше 500 000 руб.
          td.bonuses__table_td 80 000
      .bonuses__attention <span>*</span> выплачиваются дополнительно, помимо ежемесячной комиссии 20%

