.callback
  button.callback__close: img(src="/img/cancel.png")
  form.callback__content#callback-form
    h3.callback__title Заказать обратный звонок
    input.callback__input(placeholder="Ваше имя...")
    input.callback__input(placeholder="Ваш телефон...")
    button.header__button#callback-button #[span Заказать звонок]
