.callback
  button.callback__close <i class="fa fa-times" aria-hidden="true"></i>
  form.callback__content#callback-form
    h3.callback__title Заказать обратный звонок
    input.callback__input(placeholder="Ваше имя...")
    input.callback__input(placeholder="Ваш телефон...")
    button.header__button#callback-button #[span Заказать звонок]
