.calc
  img(src='../img/design-planet.png').bg__planet
  .g-wrapper
    .shadow-text(data-text="Калькулятор стоимости") Калькулятор стоимости
    .calc__header Выберите, дизайн чего Вам нужно разработать #[br] и узнайте предварительную стоимость
    .calc__content
      - var counter = 0
      mixin calcItem(name, price, info)
        .calc__item
          input.calc__checkbox(type="checkbox" id=`calc-${counter}` data-price=price)
          label.calc__label(for=`calc-${counter++}`)= name
          - if(info)
            img.calc__info(src="/img/info.png" title=info)
      .calc__col
        .calc__title Элементы фирменного стиля:
        +calcItem('Логотип',3000, 'Информация о логотипе')
        +calcItem('Визитные карточки',3000)
        +calcItem('Оформление групп в соц. сетях',3000)
        +calcItem('Презентация',10000)
        +calcItem('Шаблон email письма',5000)
      .calc__col
        .calc__title Рекламная продукция:
        +calcItem('Автотранспорт',3000)
        +calcItem('Выставочный стенд',5000)
        +calcItem('Типовая листовка/флаер',2000)
        +calcItem('Дизайн палатки',10000)
        +calcItem('Евробуклет',4000)
        +calcItem('Бигборд',5000, 'Круто! Жму руку!')
      .calc__col
        .calc__title Веб-дизайн:
        +calcItem('Дизайн сайта',25000)
        +calcItem('Дизайн мобильных приложений',50000)
        +calcItem('Дизайн интерфейса',70000)
        +calcItem('Дизайн рекламных баннеров',5000)
        +calcItem('Дизайн промо-постов',1000)
      .calc__col
        .calc__title Деловая документация:
        +calcItem('Фирменный бланк',1000)
        +calcItem('Папка для документов',1000)
        +calcItem('Конверт',1000)
        +calcItem('Бейдж',1000)
        +calcItem('Поздравительная открытка',1000)
        +calcItem('Шаблон приглашения',1000)
        +calcItem('Титульный лист',1000)
        +calcItem('Факс-бланк',1000)
      //.calc__col
        .calc__title Сувенирная продукция:
        +calcItem('Фирменная ручка/карандаш',100)
        +calcItem('Блокнот',100)
        +calcItem('Кружка/стакан',100)
        +calcItem('Спецодежда',100)
        +calcItem('Флешка',100)
        +calcItem('Флаг',100)
        +calcItem('Пепельница',100)
        +calcItem('Зажигалка',100)
        +calcItem('Квартальный календарь',100)
        +calcItem('Магнит',100)
      .calc__col
        .calc__title Ориентировочная стоимость работ:
        .calc__price =&nbsp;#[span.calc__out 0]&nbsp;руб.
        a(href="#").feedback__submit.feedback__submit_black <span>Отправить</span>
    .calc__footer.pluspad
      .calc__footer-header Не нашли нужную услугу?
        img.calc__footer-img.calc__footer-img_1(src='/img/calc-f-l.png')
        img.calc__footer-img.calc__footer-img_2(src='/img/calc-f-r.png')
      .calc__phone Звоните по телефону: #[a.calc__phone_bold(href="tel:+74951349434") +7(495)134-94-34]
