.cases
  .g-wrapper
    .shadow-text(data-text="Наши кейсы") Наши кейсы
    .cases__content
      .cases__item(data-id="modal7")
        img(src="./img/cases-1.png").cases__img
        .cases__inner
          .cases__title Телохранители
          .cases__descript Разработка посадочной страницы для проекта «Телохранители: Перезагрузка»
          a.link__more.cases__more(href="#") Подробнее
      .cases__item(data-id="modal2")
        img(src="./img/cases-2.png").cases__img
        .cases__inner
          .cases__title PROGRESS
          .cases__descript Разработка интернет-магазина спортивного питания «PROGRESS»
          a.link__more.cases__more(href="#") Подробнее
      .cases__item(data-id="modal1")
        img(src="./img/cases-3.png").cases__img
        .cases__inner
          .cases__title POLA GROUP
          .cases__descript Разработка корпоративного сайта для группы компаний «Pola Group»
          a.link__more.cases__more(href="#") Подробнее
      .cases__item(data-id="modal21")
        img(src="./img/cases-4.png").cases__img
        .cases__inner
          .cases__title НЕФТЕГАЗБРОКЕР
          .cases__descript Разработка посадочной страницы для компании «НефтеГазБрокер»
          a.link__more.cases__more(href="#") Подробнее
      .cases__item(data-id="modal5")
        img(src="./img/cases-5.png").cases__img
        .cases__inner
          .cases__title STROGO MTM
          .cases__descript Настройка контекстной рекламы и SEO для сайта STROGO MTM
          a.link__more.cases__more(href="#") Подробнее
      .cases__item(data-id="modal23")
        img(src="./img/cases-6.png").cases__img
        .cases__inner
          .cases__title VMENU
          .cases__descript Разработка мобильного IOT решения для ресторанного бизнеса
          a.link__more.cases__more(href="#") Подробнее
    .cases__footer
      a(href="/portfolio.html").cases__submit.feedback__submit.exclude <span>Смотреть больше работ</span>
