.made
  .g-wrapper
    .shadow-text(data-text="Портфолио") Портфолио
    .made__block
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-2.png")
        .made__description Пошив деловой одежды
        .made__name AURORA CARNE
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-3.png")
        .made__description Нерудные стройматериалы
        .made__name РесурсНерудСбыт
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-4.png")
        .made__description Военная форма
        .made__name Military Uniform
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-5.png")
        .made__description Стоматологический центр
        .made__name Авангард
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-6.png")
        .made__description Студия йоги и практик
        .made__name ИСТОК
    .made__footer
      a.feedback__submit.feedback__submit_black(href="#") <span>Смотреть больше работ</span>
