.made
  .g-wrapper
    .shadow-text(data-text="Портфолио") Портфолио
    .made__block
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
      a.made__item(href='#')
        .made__wrap
          img.made__img(src="../img/made-1.png")
          .made__cover
            img.made__logo(src="../img/made-2.png")
        .made__description Магазин спортивного питания
        .made__name PROGRESS
