.clients
  .g-wrapper
    .shadow-text(data-text="Наши клиенты") Наши клиенты
    .clients__block
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-1.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-2.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-3.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-4.png")
      .clients__item
        img.clients__img(src="../img/clients-5.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-6.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-7.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-8.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-9.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-10.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-11.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-12.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-13.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-14.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-15.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-16.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-17.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-18.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-19.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-20.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-21.png")
      .clients__item
        .clients__wrap
          img.clients__img(src="../img/clients-22.png")

.about__wrapp
  img(src="../img/about-3.png").about__img.about__margin
