.faq
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="FAQ") FAQ
    .faq__content
      .faq__item
        .faq__title 1. Кто может принять участие в программе?
        .faq__text Мы сотрудничаем как с физическими, так и с юридическими лицами. Вы можете быть дизайнером-фрилансером, бизнес-тренером, компанией по регистрации юридических лиц, оффлайн рекламным агентством и пр. Главное, чтобы Ваши клиенты могли нуждаться в digital услугах и Вы имели возможность посоветовать SpaceCode как надежного исполнителя
      .faq__item
        .faq__title 2. Какие гарантии выплат?
        .faq__text Мы составляем агентский договор, в котором указываем все условия сотрудничества. В п. 3 договора указано, что невыплата агентского вознаграждения карается штрафом в пятикратном размере
      .faq__item
        .faq__title 3. Как происходят выплаты?
        .faq__text Для ИП и Юридических лиц: на расчетный счет (безналичный расчет); Для Физических лиц: на карты (Visa, Master Card, Maestro), на электронные кошельки (WebMoney, QIWI, PayPal, Яндекс Деньги)
      .faq__item
        .faq__title 4. Как рассчитывается размер выплат?
        .faq__text У нас самая прозрачная система партнерских выплат. Вы получаете 20% от суммы заказа клиента. Не от нашей прибыли, а от суммы, прописанной в договоре между нами и клиентом
    .cases__footer
      a(href="#" data-service="Стать партнером").feedback__submit.cases__submit <span>Стать партнером</span>
