.features
  .features__block
    .features__grid
      .features__prev
        img.features__img(src="../img/promotion-bg.png")
    .features__grid
      .features__title Особенности рекламы и продвижения у нас
      .features__criteria
        .features__item
          .features__det
            img.features__icon(src="../img/features-1.png")
          .features__subtitle Готовые отраслевые решения
          .features__text Большой опыт работы в разных отраслях позволяет нам сделать максималько эффективную рекламу
        .features__item
          .features__det
            img.features__icon(src="../img/features-2.png")
          .features__subtitle Отвечаем за результат
          .features__text Мы согласуем с клиентом необходимое количество заявок и ежемесячно стремимся к поставленной цели
        .features__item
          .features__det
            img.features__icon(src="../img/features-3.png")
          .features__subtitle Качественно
          .features__text Привлекаем внимание клиентов и повышаем CTR, используя проверенные методы, оцениваем результат в деньгах
        .features__item
          .features__det
            img.features__icon(src="../img/features-4.png")
          .features__subtitle Эффективно
          .features__text Каждый рубль, потраченный на рекламу, будет направлен на увеличения прибыли Вашей компании
.features__footer
  img(src="../img/features-footer.png").bg__features
  .g-wrapper
    .features__content
      .features__callback Закажите обратный звонок и задайте уточняющие вопросы!
      a.feedback__submit(href="#") <span>Подробнее</span>

