.features
  .features__block
    .features__grid
      .features__prev
        img.features__img(src="../img/promotion-bg.png")
    .features__grid
      .features__title Особенности рекламы и продвижения у нас
      .features__criteria
        .features__item
          .features__det
            img.features__icon(src="../img/features-1.png")
          .features__subtitle Просто
          .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
        .features__item
          .features__det
            img.features__icon(src="../img/features-2.png")
          .features__subtitle Удобно
          .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
        .features__item
          .features__det
            img.features__icon(src="../img/features-3.png")
          .features__subtitle Стильно
          .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
        .features__item
          .features__det
            img.features__icon(src="../img/features-4.png")
          .features__subtitle Эффективно
          .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки

