.feedback
  img(src="../img/feedback-planet.png").bg__planet_feedback
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Заказать аудит сайта") Заказать аудит сайта
    .feedback__block
      .feedback__grid
        .feedback__anonce.feedback__anonce_top Уже есть сайт, но вы недовольны результатами, которые он приносит?
        .feedback__anonce В течение 24 часов мы проведем детальный аудит Вашего сайта совершенно бесплатно и дадим советы по его улучшению.
        //a.link__more.link__more_pdf(href="") Посмотреть пример аудита
      .feedback__grid
        form.feedback__form
          .feedback__title Заказать бесплатный аудит сайта
          input.feedback__input(required type="text" name="name" placeholder="Ваше имя..." pattern="[a-zA-Zа-яА-я ]{4,}")
          input.feedback__input(required type="tel" name="phone" placeholder="Ваш телефон...")
          input.feedback__input(required type="email" name="email" placeholder="Ваш e-mail...")
          input.feedback__input(required type="text" name="site" placeholder="Адрес сайта для анализа...")
          button.feedback__submit.feedback__submit_float.exclude <span>Отправить</span>

