.team
    img(src='../img/team-planet.png≈').bg__planet_team
    .g-wrapper
      .shadow-text.shadow-text_light(data-text="Настоящие профессионалы") Настоящие профессионалы
      .team__block.team__block_wrap
        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-6.jpg")
          .team__name Владислав Русчев
          .team__post Руководитель проектов
          .team__descript Под его руководством было запущено 4 успешных стартапа
        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-5.jpg")
          .team__name Алиса Матвеева
          .team__post Креативный директор
          .team__descript Получила степень MBA в Калифорнийском университете, провела более 50 мастер-классов по айдентике. В числе проектов: Coca-Cola, BurgerKing и др.
        //- .team__person.team__person_basis
        //-   img.team__img(src="../img/team/tf-2.jpg")
        //-   .team__name Дмитрий Кравцов
        //-   .team__post Технический директор
        //-   .team__descript Окончил мехмат МГУ. Призер международной олимпиады по математике. Разрабатывал высоконагружаемые сервисы «Яндекс»
        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-1.jpg")
          .team__name Александр Цай
          .team__post Руководитель отдела маркетинга
          .team__descript Спикер по интернет-маркетингу в академии Яндекса. Официальный преподаватель Google Partners по дисциплине веб-аналитика.

        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-3.jpg")
          .team__name Али Слоян
          .team__post Ведущий разработчик
          .team__descript Научный сотрудник МФТИ. Проводит курсы по C#, C++ в МФТИ.
        //- .team__person.team__person_basis
        //-   img.team__img(src="../img/team/tf-4.jpg")
        //-   .team__name Иван Скориков
        //-   .team__post Стратег-аналитик
        //-   .team__descript Окончил мехмат МГУ. Читает лекции по теории верояности. Мастер спорта по шахматам.
        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-7.jpg")
          .team__name Ксения Рулева
          .team__post Руководитель отдела контента
          .team__descript Выпускница МГЛУ. В совершенстве владает четыремя языками. Пишет и переводит контент для Афишы и Spacecode
        .team__person.team__person_basis
          img.team__img(src="../img/team/tf-8.jpg")
          .team__name Кобзева Екатерина
          .team__post Старший веб-дизайнер
          .team__descript Выпускница Британской Высшей Школы Дизайна. Звезда Behance. 2-х кратный призер премии Russian Design Award (Web-Design)
        //-.team__person.team__person_basis
        //-  img.team__img(src="../img/team/tf-9.jpg")
        //- .team__name Нурсултан Базарбаев
        //-  .team__post Арт-директор
        //-  .team__descript Выпускник МГХПУ им. С.Г. Строганова. Лауреат Red Dot Design Award.
