.garants
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="Финансовые гарантии") Финансовые гарантии
    .garants__elements
      .garants__element
        .garants__number
          .garants__number_content 01
          .garants__number_overlay
        .garants__content
          .garants__title Реклама за наш счет
          .garants__text Если мы не выполнили свой прогноз по трафику, то мы компенсируем это контекстной рекламой за наш счет
          a(href="#").garants__offer
            img(src="./img/contract.png").garants__img
            .garants__offer_text Пункт договора
          .garants__ps *если заказчик выбрал политику<br> «оплата за трафик»
      .garants__element
        .garants__number
          .garants__number_content 02
          .garants__number_overlay
        .garants__content
          .garants__title Плата только за результат
          .garants__text Если мы не выполнили наш прогноз по выведению запросов в ТОП,  то все работы по продвижению – за наш счет
          a(href="#").garants__offer
            img(src="./img/contract.png").garants__img
            .garants__offer_text Пункт договора
          .garants__ps *если заказчик выбрал политику <br>«оплата за запросы в ТОП»
      .garants__element
        .garants__number
          .garants__number_content 03
          .garants__number_overlay
        .garants__content
          .garants__title Защита от фильтров
          .garants__text Если мы не выполнили наш прогноз по выведению запросов в ТОП,  то все работы по продвижению – за наш счет
          a(href="#").garants__offer
            img(src="./img/contract.png").garants__img
            .garants__offer_text Пункт договора


