.mobile-menu
  button.mobile-menu__close
  .mobile-menu__col
    a.navigation__link(style="color: white; font-weight: bold" href="/") Главная
    a.navigation__link(style="color: white; font-weight: bold" href="/about.html") О компании
    //- a.navigation__link(style="color: white; font-weight: bold" href="/team.html") Команда
    a.navigation__link(style="color: white; font-weight: bold" href="/prices.html") Цены
    a.navigation__link(style="color: white; font-weight: bold" href="/portfolio.html") Портфолио
    a.navigation__link(style="color: white; font-weight: bold" href="/contacts.html") Контакты
  .mobile-menu__col
    a.navigation__link(style="color: white; font-weight: bold") Наши услуги
    a.navigation__link(href="/websites.html") Разработка сайтов
    a.navigation__link(href="/promotion.html") Продвижение и реклама
    a.navigation__link(href="/design.html") Дизайн и айдентика
    a.navigation__link(href="/software.html") Разработка ПО
    a.navigation__link(href="/analytics.html") Аналитика и консалтинг
    a.navigation__link(href="/mobile.html") Разработка мобильных приложений
    a.navigation__link(href="/complex-digital.html") Комплексное digital-сопровождение  бизнеса
  .mobile-menu__col
    .header__contacts
      a.header__phone.header__phone_margin(href="tel:+74951349434") +7 (495) #[span.header__phone_big 134-94-34]
      button.header__button#mobile-menu-button #[span Заказать звонок]
      .mobile-menu__social
        a.footer__icon(href="#")
          include ../../images/fa-vk.svg
        a.footer__icon(href="#")
          include ../../images/fa-behance.svg
        a.footer__icon(href="#")
          include ../../images/fa-twitter.svg
        a.footer__icon(href="#")
          include ../../images/fa-facebook.svg
        a.footer__icon(href="#")
          include ../../images/fa-instagram.svg
