.operating
  img(src='../img/partners-planet.png').bg__planet.bg__planet_digital
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="Порядок работы") Порядок работы
    .operating__content
      .operating__item
        .garants__number.operating__number
          .garants__number_content.operating__number_content 01
          .garants__number_overlay
        .operating__inner
          .operating__title Заключаем договор
          .operating__text Заключается Агентский Договор, в котором определяется размер вознаграждения, порядок выплат, порядок работы.
          a(href="http://spacecode.ru/vendor/Agentskii_dogovor.pdf" target="_blank").operating__offer
            img(src="./img/contract.png").garants__img
            .garants__offer_text Посмотреть договор
      .operating__item
        .garants__number.operating__number
          .garants__number_content.operating__number_content 02
          .garants__number_overlay
        .operating__inner
          .operating__title Закрепляем за Вами конкретного менеджера
          .operating__text За Вами закрепляется конкретный менеджер отдела продаж, которому передается информация о Ваших клиентах, заинтересованных нашими услугами. Этот менеджер ведет учет всех клиентов, поступивших от Вас, а также учет партнерских процентов.
      .operating__item
        .garants__number.operating__number
          .garants__number_content.operating__number_content 03
          .garants__number_overlay
        .operating__inner
          .operating__title Менеджер информирует Вас
          .operating__text При заключении Договора с кем-либо из ваших клиентов, менеджер, закрепленный за вами, сообщает вам об этом.
      .operating__item
        .garants__number.operating__number
          .garants__number_content.operating__number_content 04
          .garants__number_overlay
        .operating__inner
          .operating__title Получаете средства
          .operating__text Мы производим начисление Ваших <br>партнерских процентов.


