.part-program
  .g-wrapper
    .part-program__title Какие из наших услуг участвуют<br> в партнерской программе?
    .part-program__content
      .part-program__item
        img(src="./img/prog-1.png").part-program__img
        .part-program__inner
          .part-program__about Дизайн и проектирование
          .part-program__elements
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Промышленный дизайн
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Веб-дизайн
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Дизайн интерфейсов
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text 3D визуализация
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Дизайн приложений
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Айдентика
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Оформление презентаций
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Создание видео
      .part-program__item
        img(src="./img/prog-2.png").part-program__img
        .part-program__inner
          .part-program__about Реклама в интернете и SEO-продвижение
          .part-program__elements
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Контекстная реклама
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Медийная реклама
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Реклама в моб. приложениях
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Реклама в YouTube
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text SEO-продвижение
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Реклама в соц. сетях
      .part-program__item
        img(src="./img/prog-3.png").part-program__img
        .part-program__inner
          .part-program__about Разработка веб-сайтов
          .part-program__elements
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Корпоративные сайты
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Интернет-магазины
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Сложные веб-сервисы
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Лендинги
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Порталы и промо-сайты
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Эксклюзивные сайты
      .part-program__item
        img(src="./img/prog-4.png").part-program__img
        .part-program__inner
          .part-program__about Мобильные приложения
          .part-program__elements
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Интеграция приложений
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Обслуживание
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Продвижение в маркетах
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Разработка
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Прототипирование
            .part-program__element
              <i class="fa fa-check" aria-hidden="true"></i>
              .part-program__text Тестирование
