.plan
  .g-wrapper
    .shadow-text.plan__shadow-text(data-text="Примерный план работ и результаты") Примерный план работ <br> и результаты
    .plan__content
      .plan__item
        img(src='/img/seo.png').plan__img
        .plan__time 1-й МЕСЯЦ
        .plan__text Первые результаты в виде позиций и посещений сайта. Настроена система веб-аналитики
      .plan__item
        img(src='/img/seo.png').plan__img
        .plan__time 2-4 МЕСЯЦ
        .plan__text Новый внешний вид сайта, продающие страницы под разные сегменты целевой аудитории. Заявки и продажи
      .plan__item
        img(src='/img/seo.png').plan__img
        .plan__time 5-6 МЕСЯЦ
        .plan__text Стабильный поток заявок через сайт. Предложим CRM для контроля продаж и свяжем ее с веб-аналитикой
    .plan__attention Под каждый проект выделяется персональный менеджер, который является личным консультантом заказчика по всем вопросам IT и digital marketing
