.portfolio.portfolio_min.portfolio__mob
  .g-wrapper
    .portfolio__title.shadow-text(data-text="Портфолио") Портфолио
    .portfolio__buttons
  .portfolio__mobile
    select.portfolio__select
      option(selected disabled) Категории
  .portfolio__blocks
    .portfolio__block.portfolio__block_last
      a.portfolio__more(href="/portfolio.html") Показать больше работ
