include ../mixins/_portfolio-block.pug
include ../data/portfolio.pug
.portfolio.portfolio_min.portfolio__mob
  .g-wrapper
    .portfolio__title.shadow-text(data-text="Портфолио") Портфолио
    .portfolio__buttons
      - Object.keys(groups).forEach((el,i)=>{
        button.portfolio__button(class=i==0? 'portfolio__button_selected': null data-tag=el)= groups[el]
      - })
  .portfolio__mobile
    select.portfolio__select
      option(selected disabled) Категории
      - Object.keys(groups).forEach((el,i)=>{
        option(value=el)= groups[el]
      - })
  .portfolio__blocks
    each p in portfolio
      +portf-block(p,groups)
    .portfolio__block.portfolio__block_last
      a.portfolio__more(href="/portfolio.html") Показать больше работ
