.portfolio
  .g-wrapper
    .portfolio__title.shadow-text(data-text="Портфолио") Портфолио
    .portfolio__buttons
      button.portfolio__button.portfolio__button_selected Все
      button.portfolio__button Фитнес
      button.portfolio__button Юридические услуги
      button.portfolio__button Нефть
      button.portfolio__button Медицина
      button.portfolio__button Автошколы
      button.portfolio__button Одежда
      button.portfolio__button Строительство
      button.portfolio__button Продажа люксовых брендов
      button.portfolio__button Розничная торговля
  .portfolio__blocks
    .portfolio__block
      .portfolio__image(style="background-image: url('/img/portf-1.png')")
    .portfolio__block
      .portfolio__image(style="background-image: url('/img/portf-2.png')")
    .portfolio__block
      .portfolio__image(style="background-image: url('/img/portf-3.png')")
    .portfolio__block
      .portfolio__image(style="background-image: url('/img/portf-4.png')")
    .portfolio__block
      .portfolio__image(style="background-image: url('/img/portf-5.png')")
    .portfolio__block.portfolio__block_last
      .portfolio__more Показать больше работ
