include ../mixins/_portfolio-block.pug
include ../data/portfolio.pug
.portfolio
  .g-wrapper
    .portfolio__title.shadow-text(data-text="Портфолио") Портфолио
    .portfolio__buttons
      button.portfolio__button.portfolio__button_selected(data-tag="all") Все
      button.portfolio__button(data-tag="fitness") Фитнес
      button.portfolio__button(data-tag="") Юридические услуги
      button.portfolio__button(data-tag="") Нефть
      button.portfolio__button(data-tag="") Медицина
      button.portfolio__button(data-tag="") Автошколы
      button.portfolio__button(data-tag="") Одежда
      button.portfolio__button(data-tag="") Строительство
      button.portfolio__button(data-tag="") Продажа люксовых брендов
      button.portfolio__button(data-tag="") Розничная торговля
  .portfolio__blocks
    each p in portfolio
      +portf-block(p.bg,p.header,p.text,p.link,p.dark)
    .portfolio__block.portfolio__block_last
      .portfolio__more Показать больше работ
