.request
  .g-wrapper
    .request__content
      .request__title Форма обратной связи
      .request__text Отправьте заявку и получите полный аудит сайта, текущей рекламной кампании, а также нашу стратегию и прогнозы по посещаемости, срокам и стоимости работ
      button.feedback__submit.request__submit <span>Отправить заявку</span>
  img(src="./img/request-particle-1.png").request__particle.request__particle_1
  img(src="./img/particle-request-2.png").request__particle.request__particle_2
  img(src="./img/particle-request-3.png").request__particle.request__particle_3
