.services
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Наши услуги") Наши услуги
    .services__block
      .services__item
        a(href="/services/websites.html")
          img.services__img(src="../img/uslugi-1.jpg")
        a(href='/services/websites.html').services__title Разработка веб-сайтов
        a.link__more(href="/services/websites.html") Подробнее
      .services__item
        a(href="/services/design.html")
          img.services__img(src="../img/uslugi-2.jpg")
        a(href='/services/design.html').services__title Дизайн и айдентика
        a.link__more(href="/services/design.html") Подробнее
      .services__item
        a(href="/services/analytics.html")
          img.services__img(src="../img/uslugi-3.jpg")
        a(href='/services/analytics.html').services__title Аналитика и консалтинг
        a.link__more(href="/services/analytics.html") Подробнее
      .services__item
        a(href="/services/software.html")
          img.services__img(src="../img/uslugi-4.jpg")
        a(href='/services/software.html').services__title Разработка и интеграция ПО
        a.link__more(href="/services/software.html") Подробнее
      .services__item
        a(href="/services/mobile.html")
          img.services__img(src="../img/uslugi-5.png")
        a(href='/services/mobile.html').services__title Разработка мобильных приложений
        a.link__more(href="/services/mobile.html") Подробнее
      .services__item
        a(href="/services/promotion.html")
          img.services__img(src="../img/uslugi-6.jpg")
        a(href='/services/promotion.html').services__title Реклама и продвижение
        a.link__more(href="/services/promotion.html") Подробнее

