.services
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Наши услуги") Наши услуги
    .services__block
      .services__item
        a(href="/websites.html")
          img.services__img(src="../img/uslugi-1.png")
        a(href='/websites.html').services__title Разработка веб-сайтов
        a.link__more(href="/websites.html") Подробнее
      .services__item
        a(href="/design.html")
          img.services__img(src="../img/uslugi-2.png")
        a(href='/design.html').services__title Дизайн и айдентика
        a.link__more(href="/design.html") Подробнее
      .services__item
        a(href="/analytics.html")
          img.services__img(src="../img/uslugi-3.png")
        a(href='/analytics.html').services__title Аналитика и консалтинг
        a.link__more(href="/analytics.html") Подробнее
      .services__item
        a(href="/software.html")
          img.services__img(src="../img/uslugi-4.png")
        a(href='/software.html').services__title Разработка и интеграция ПО
        a.link__more(href="/software.html") Подробнее
      .services__item
        a(href="/mobile.html")
          img.services__img(src="../img/uslugi-5.png")
        a(href='/mobile.html').services__title Разработка мобильных приложений
        a.link__more(href="/mobile.html") Подробнее
      .services__item
        a(href="/promotion.html")
          img.services__img(src="../img/uslugi-6.png")
        a(href='/promotion.html').services__title Реклама и продвижение
        a.link__more(href="/promotion.html") Подробнее

