.socialBlock
  .socialBlock__text Написать нам:
  a.socialBlock__link(target="_blank" href="https://t.me/spacecoderu"): include ../../images/telegram.svg
  a.socialBlock__link(target="_blank" href="viber://chat?number=79671006677"): include ../../images/viber.svg
  a.socialBlock__link(target="_blank" href="https://api.whatsapp.com/send?phone=79671006677"): include ../../images/whatsapp.svg
