.socialBlock
  .socialBlock__text Написать нам:
  a.socialBlock__link(href="/"): include ../../images/telegram.svg
  a.socialBlock__link(href="/"): include ../../images/viber.svg
  a.socialBlock__link(href="/"): include ../../images/whatsapp.svg
