.steps
  .g-wrapper
    .shadow-text(data-text="Этапы работы") Этапы работы
    .steps__content
      img.steps__image(src="/img/rocket-lines.png")
      .steps__step.steps__step_1
        img.steps__planet(src="/img/planet-1.png")
        .steps__number.steps__number_1 1
        .steps__description
          .steps__header Анализ
          .steps__text Посетитель вашего сайта за 3 секунды <br/> поймет, что он нашел то, что искал.
      .steps__step.steps__step_2
        img.steps__planet(src="/img/planet-2.png")
        .steps__number.steps__number_2 2
        .steps__description
          .steps__header Прототипирование
          .steps__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал.
      .steps__step.steps__step_3
        img.steps__planet(src="/img/planet-3.png")
        .steps__number.steps__number_3 3
        .steps__description
          .steps__header Разработка
          .steps__text Посетитель вашего сайта за 3 секунды <br/> поймет, что он нашел то, что искал.
      .steps__step.steps__step_4
        img.steps__planet(src="/img/planet-4.png")
        .steps__number.steps__number_4 4
        .steps__description
          .steps__header Запуск
          .steps__text Посетитель вашего сайта за 3 секунды <br/> поймет, что он нашел то, что искал.
      .steps__step.steps__step_5
        img.steps__planet(src="/img/planet-5.png")
        .steps__number.steps__number_5 5
        .steps__description
          .steps__header Поддержка
          .steps__text Посетитель вашего сайта за 3 секунды <br/> поймет, что он нашел то, что искал.
    .rocket
      button.rocket__button
        span.rocket__text Начать
        span.rocket__block
          img.rocket__body(src="/img/rocket-body.png")
          img.rocket__fire(src="/img/rocket-fire.png")
        span.rocket__text Полет
        .rocket__lines
