.tabs
  img(src='../img/complex-planet.png').bg__planet.bg__planet_digital
  .g-wrapper
    .shadow-text.tabs__shadow-text(data-text="Комплексный подход") Комплексный подход
    .tabs__text Мы задействуем все инструменты digital-маркетинга, благодаря чему создается эффект синергии
    .tabs__block
      .tabs__buttons
        .tabs__button.tabs__button_active Интернет реклама
        .tabs__button SEO и SMM продвижение
        .tabs__button Автоматизация бизнес-процессов
      .tabs__content
        .tabs__item.tabs__item_active
          .tabs__title_phone Интернет реклама
          .tabs__left
            .tabs__info
              .tabs__info_item
                .tabs__info_title Контекстная реклама
                .tabs__info_el Яндекс.Директ
                .tabs__info_el Google AdWords
                .tabs__info_el Бегун
                .tabs__info_el MyTarget
                .tabs__info_el YouTube
                .tabs__info_el Instagram
                .tabs__info_el VK, Facebook
              .tabs__info_item
                .tabs__info_title Каналы скрытой рекламы
                .tabs__info_el Медийные личности
                .tabs__info_el Работа с брендом
                .tabs__info_el Социальные сети
                .tabs__info_el Цифровые медиа
            .tabs__detail Мы детально анализируем ваши цели  и предлагаем наиболее эффективный набор  из вышеуказанных инструментов
          .tabs__right
            .tabs__right_el
              .tabs__info_title.tabs__about_title Постоянный контроль  и прозрачная система работы
              .tabs__about_text Определяем цели и строим стратегию. Разрабатываем план работ и предоставляем полный доступ к нему. Вы можете в любой момент видеть что было сделано и какие результаты достигнуты 
            .tabs__right_el
              .tabs__info_title.tabs__about_title Детальная аналитика в режиме  реального времени
              .tabs__about_text Мы предоставляем доступ к внутренним системам аналитики, которые позволяют смотреть результаты в разрезах более чем 50 параметров
        .tabs__item
          .tabs__title_phone Интернет реклама
          .tabs__left
            .tabs__info
              .tabs__info_item
                .tabs__info_title Контекстная реклама
                .tabs__info_el Яндекс.Директ
                .tabs__info_el Google AdWords
                .tabs__info_el Бегун
                .tabs__info_el MyTarget
                .tabs__info_el YouTube
                .tabs__info_el Instagram
                .tabs__info_el VK, Facebook
              .tabs__info_item
                .tabs__info_title Каналы скрытой рекламы
                .tabs__info_el Медийные личности
                .tabs__info_el Работа с брендом
                .tabs__info_el Социальные сети
                .tabs__info_el Цифровые медиа
            .tabs__detail Мы детально анализируем ваши цели  и предлагаем наиболее эффективный набор  из вышеуказанных инструментов
          .tabs__right
            .tabs__right_el
              .tabs__info_title.tabs__about_title Постоянный контроль  и прозрачная система работы
              .tabs__about_text Определяем цели и строим стратегию. Разрабатываем план работ и предоставляем полный доступ к нему. Вы можете в любой момент видеть что было сделано и какие результаты достигнуты 
            .tabs__right_el
              .tabs__info_title.tabs__about_title Детальная аналитика в режиме  реального времени
              .tabs__about_text Мы предоставляем доступ к внутренним системам аналитики, которые позволяют смотреть результаты в разрезах более чем 50 параметров
        .tabs__item
          .tabs__title_phone Интернет реклама
          .tabs__left
            .tabs__info
              .tabs__info_item
                .tabs__info_title Контекстная реклама
                .tabs__info_el Яндекс.Директ
                .tabs__info_el Google AdWords
                .tabs__info_el Бегун
                .tabs__info_el MyTarget
                .tabs__info_el YouTube
                .tabs__info_el Instagram
                .tabs__info_el VK, Facebook
              .tabs__info_item
                .tabs__info_title Каналы скрытой рекламы
                .tabs__info_el Медийные личности
                .tabs__info_el Работа с брендом
                .tabs__info_el Социальные сети
                .tabs__info_el Цифровые медиа
            .tabs__detail Мы детально анализируем ваши цели  и предлагаем наиболее эффективный набор  из вышеуказанных инструментов
          .tabs__right
            .tabs__right_el
              .tabs__info_title.tabs__about_title Постоянный контроль  и прозрачная система работы
              .tabs__about_text Определяем цели и строим стратегию. Разрабатываем план работ и предоставляем полный доступ к нему. Вы можете в любой момент видеть что было сделано и какие результаты достигнуты 
            .tabs__right_el
              .tabs__info_title.tabs__about_title Детальная аналитика в режиме  реального времени
              .tabs__about_text Мы предоставляем доступ к внутренним системам аналитики, которые позволяют смотреть результаты в разрезах более чем 50 параметров

      .tabs__detail.tabs__detail_phone Мы детально анализируем ваши цели  и предлагаем наиболее эффективный набор  из вышеуказанных инструментов
