.team
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Наша команда") Наша команда
    .team__block
      .team__person
        img.team__img(src="../img/team/tf-6.jpg")
        .team__name Владислав Русчев
        .team__post Руководитель проектов
        .team__descript Под его руководством было запущено 4 успешных стартапа
      .team__person
        img.team__img(src="../img/team/tf-5.jpg")
        .team__name Алиса Матвеева
        .team__post Креативный директор
        .team__descript Ars est celāre artem
      .team__person
        img.team__img(src="../img/team/tf-2.jpg")
        .team__name Дмитрий Кравцов
        .team__post Технический директор
        .team__descript Разрабатывал высоконагружаемые сервисы «Яндекс»
      .team__person
        a.link__more.link__more_big.link__more_big_marg(href="/team.html") Вся команда

