.thanks
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Благодарности клиентов") Благодарности клиентов
    .reviews-slider
      .swiper-wrapper
        .swiper-slide
          .slider__wrap
            img(src="/img/review-2.jpg")
            .slider__loop
        .swiper-slide
          .slider__wrap
            img(src="/img/review-2.jpg")
            .slider__loop
        .swiper-slide
          .slider__wrap
            img(src="/img/review-2.jpg")
            .slider__loop
        .swiper-slide
          .slider__wrap
            img(src="/img/review-2.jpg")
            .slider__loop

      .reviews-pagination
