.thanks
  .g-wrapper
    .shadow-text.shadow-text_light(data-text="Благодарности клиентов") Благодарности клиентов
    .reviews-slider
      .swiper-wrapper
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
        .swiper-slide: img(src="/img/review.png")
      .reviews-pagination
