-
  var portfolio = [
    {
      bg: '/img/portf-1.png',
      header: 'Aurora  Carne',
      text: 'Разработка сайта для Aurora Carne',
      link: '#',
      dark: false
    },
    {
      bg: '/img/portf-2.png',
      header: 'PROGRESS',
      text: 'Разработка интернет-магазина <br /> спортивного питания PROGRESS',
      link: '#',
      dark: true
    },
    {
      bg: '/img/portf-3.png',
      header: 'РЕСУРСНЕРУДСБЫТ',
      text: 'Разработка сайта для РесурсНерудСбыт',
      link: '#',
      dark: false
    },
    {
      bg: '/img/portf-4.png',
      header: 'АВАНГАРД',
      text: 'Разработка сайта для стоматологии <br /> им. доктора Горинова АВАНГАРД',
      link: '#',
      dark: false
    },
    {
      bg: '/img/portf-5.png',
      header: 'STROGO MTM',
      text: 'Настройка контекстной рекламы и <br /> SEO для сайта STROGO MTM',
      link: '#',
      dark: true
    }
  ]
