-
  var groups = {
    "all": "Все",
    "fitnesshealth": "Фитнес и здоровье",
    //- "med": "Медицина",
    "legal": "Юридические услуги",
    //"oil": "Нефть",
    //- "school": "Автошколы",
    "clothesshoes": "Одежда и обувь",
    "buildingdesign": "Дизайн и строительство",
    //"brands": "Продажа люксовых брендов",
    //"retail": "Розничная торговля",
    "other": "Прочее",
    //- "health": "Здоровье",
    //- "toys": "Игрушки"
  };
  var portfolio = [
    {
      bg: '/img/portf-1.png',
      header: 'Aurora  Carne',
      text: 'Разработка сайта для Aurora Carne',
      link: '#',
      dark: false,
      tag: 'clothesshoes',
      id: 'modal1'
    },
    {
      bg: '/img/portf-2.png',
      header: 'PROGRESS',
      text: 'Разработка интернет-магазина <br /> спортивного питания PROGRESS',
      link: '#',
      dark: true,
      tag: 'fitnesshealth',
      id: 'modal2'
    },
    {
      bg: '/img/portf-3.png',
      header: 'РЕСУРСНЕРУДСБЫТ',
      text: 'Разработка сайта для РесурсНерудСбыт',
      link: '#',
      dark: false,
      tag: 'buildingdesign',
      id: 'modal3'
    },
    {
      bg: '/img/portf-4.png',
      header: 'АВАНГАРД',
      text: 'Разработка сайта для стоматологии <br /> им. доктора Горинова АВАНГАРД',
      link: '#',
      dark: false,
      tag: 'fitnesshealth',
      id: 'modal4'
    },
    {
      bg: '/img/portf-5.png',
      header: 'STROGO MTM',
      text: 'Настройка контекстной рекламы и <br /> SEO для сайта STROGO MTM',
      link: '#',
      dark: true,
      tag: 'clothesshoes',
      id: 'modal5'
    },
    {
      bg: '/img/portf-6.png',
      header: 'military uniform',
      text: 'Разработка сайта и настройка контекстной <br /> рекламы для Military Uniform',
      link: '#',
      dark: false,
      tag: 'clothesshoes',
      id: 'modal6'
    },
    {
      bg: '/img/portf-7.png',
      header: 'ТЕЛОХРАНИТЕЛИ',
      text: 'Разработка дизайна посадочной страницы <br /> «ТЕЛОХРАНИТЕЛИ: ПЕРЕЗАГРУЗКА»',
      link: '#',
      dark: false,
      tag: 'fitnesshealth',
      id: 'modal7'
    },
    {
      bg: '/img/portf-8.png',
      header: 'ИСТОК',
      text: 'Разработка сайта для студии йоги <br /> и практики «ИСТОК»',
      link: '#',
      dark: true,
      tag: 'fitnesshealth',
      id: 'modal8'
    },
    {
      bg: '/img/portf-9.png',
      header: 'GARMIN',
      text: 'Разработка дизайна посадочной страницы <br /> для продажи часов FENIX 3',
      link: '#',
      dark: true,
      tag: 'fitnesshealth',
      id: 'modal9'
    },
    {
      bg: '/img/portf-10.png',
      header: 'spinnerx',
      text: 'Разработка сайта, SEO и настройка рекламы <br /> для интернет-магазина SpinnerX рекламы',
      link: '#',
      dark: false,
      tag: 'other',
      id: 'modal10'
    },
    {
      bg: '/img/portf-11.png',
      header: 'strediar',
      text: 'Разработка дизайна посадочной страницы <br /> для фирмы STREDIAR',
      link: '#',
      dark: false,
      tag: 'buildingdesign',
      id: 'modal11'
    },
    {
      bg: '/img/portf-12.png',
      header: 'DOMANI',
      text: 'Разработка сайта, SEO и настройка рекламы <br /> для консалтингового агенства DOMANI',
      link: '#',
      dark: true,
      tag: 'legal',
      id: 'modal12'
    },
    {
      bg: '/img/portf-13.png',
      header: 'АВТОШКОЛА №1',
      text: 'Разработка сайта, SEO и настройка рекламы <br /> для Автошколы №1 в г. Шахты',
      link: '#',
      dark: true,
      tag: 'other',
      id: 'modal13'
    },
    {
      bg: '/img/portf-14.png',
      header: 'ANARCHI',
      text: 'Разработка сайта для студии дизайна <br /> и архитектуры AnArchi',
      link: '#',
      dark: false,
      tag: 'buildingdesign',
      id: 'modal14'
    },
    {
      bg: '/img/portf-15.png',
      header: 'BREVDE',
      text: 'Разработка сайта и создание рекламы для <br />ведущего трансперсонального психолога',
      link: '#',
      dark: false,
      tag: 'other',
      id: 'modal15'
    },
    {
      bg: '/img/portf-16.png',
      header: 'Кварц.БЕЛ',
      text: 'Разработка дизайна landing page <br />для продажи изделий из кварцевого камня',
      link: '#',
      dark: true,
      tag: 'buildingdesign',
      id: 'modal16'
    },
    {
      bg: '/img/portf-17.png',
      header: 'Юнимед32',
      text: 'Разработка сайта и рекламы<br /> для стоматологии Юнимед',
      link: '#',
      dark: true,
      tag: 'fitnesshealth',
      id: 'modal17'
    },
    {
      bg: '/img/portf-19.png',
      header: 'Постулат',
      text: 'Разработка сайта и рекламы<br /> для юридической компании по земельному праву',
      link: '#',
      dark: true,
      tag: 'legal',
      id: 'modal19'
    },
    {
      bg: '/img/portf-18.png',
      header: 'Headway',
      text: 'Разработка сайта и создание рекламы для <br /> танцевальной студии Headway',
      link: '#',
      dark: true,
      tag: 'fitnesshealth',
      id: 'modal18'
    },

  ]
