extends _templates/_main

block vars
  - var pageTitle = 'О студии SPACECODE'
  - var customHeader = true
  - var about = true
  - var headerHeight = 500
  - var customBg = '/img/services-bg.png'

block header
  .g-wrapper
    .promotion
      .promotion__title О студии
block content
  .thanks
    img(src='../img/about-planet.png').bg__planet_about
    .g-wrapper
      .shadow-text.shadow-text_light(data-text="Кто такие SPACECODE?") Кто такие SPACECODE?
      .about__block
        .about__info
          .about__text Студия создана в 2012 году энтузиастами IT технологий из числа выпускников МГУ и МФТИ. Впоследствии мы приобрели необходимый организационный опыт, который позволил нам с любительского уровня перейти в профессионалы.
          .about__text На данный момент в компании работает 35 сотрудников, среди которых: дизайнеры, вертальщики, программисты. Команда в состоянии выполнить IT проект практически любой сложности, начиная с создания сайта и заканчивая разработкой сложного ПО.
          .about__info_block
            .about__info_left
              img(src='../img/our-team.jpg').about__info_img
            .about__info_right
              .about__text Мы являемся сторонниками системного и зачастую нестандартного подхода в решении любых, даже самых типовых задач.
              .about__text Мы знаем, что успех в бизнесе состоит и незначительных мелочей, выгода которых лишь на длинной дистанции становится очевидной. Мы смотрим наперед и верим, что лишь такой подход приводит к успеху.
          .about__text Мы стараемся с заказчиками выстроить доверительные и партнерские отношения. Мы работаем лишь с теми проектами, в успех которых мы искренне верим, и не беремся за те, успех которых нам кажется сомнительным. Мы можем ошибаться, но по-другому действовать было бы нечестно по отношению к нашим партнерам.

  include blocks/_fullteam.pug
  .about

    //- .g-wrapper
    //-   .shadow-text(data-text="") SPACECODE - интернет агентство полного цикла
    //-   .about__title.about__center Что это значит и чем МЫ отличаемся от веб-студии?d
    //- .about__wrap
    //-   img(src="../img/about-2.png").about__img
    .about__wrap
      //img(src="../img/about-3.png").about__img
  .g-wrapper
      .shadow-text(data-text="Структура агентства") Структура агентства
  .about__wrap
      img(src="../img/about-4.png").about__img
  .g-wrapper
      .shadow-text(data-text="Качественный продукт") Качественный продукт
      .about__block.about__block_pad
        .about__grid
          img(src="../img/about-5.png").about__img_cubick
        .about__grid
          .about__anonce Повышение конверсии в покупателей
          .about__anonce Снижение стоимомти привлеченного клиента
          .about__anonce Стабильность процессов за счет внедрения автоматизированных процессов
          .about__anonce Точки присутствия аудитории в интернете и регулярную работу с ними
