extends _templates/_main

block vars
  - var pageTitle = 'Аналитика и консалтинг SPACECODE'
  - var customHeader = true

block header
  .g-wrapper
    .promotion
      .promotion__title Аналитика и консалтинг
      .promotion__block
        .promotion__item Аудит сайта
        .promotion__item Аудит рекламных компаний
        .promotion__item Аудит SEO-компаний
        .promotion__item Аналитика BIG DATA
        .promotion__item Разработка стратегии присутствия в интернете
        .promotion__item Консалтинг
      a.feedback__submit: span Выбрать решение

block content
  .prices
    .g-wrapper
      .shadow-text.shadow(data-text="Цены на услуги") Цены на услуги
      .analytics__block
        .analytics__item
          .analytics__title
            img(src="../img/analytics-1.png").analytics__img
            .analytics__name Разработка стратегии присутствия в интернете
          .analytics__content
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum стандартное
          .analytics__footer
            .analytics__cost от 30 000 руб.
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/analytics-2.png").analytics__img
            .analytics__name  Комплексный <br> аудит сайта
          .analytics__content
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum стандартное
          .analytics__footer
            .analytics__cost 30 000 руб. + KPI
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/analytics-3.png").analytics__img
            .analytics__name Подбор и проектирование <br> ИТ систем
          .analytics__content
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum стандартное
          .analytics__footer
            .analytics__cost от 20 000 руб.
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
      .analytics__more
        .analytics__more_title Не нашли нужную услугу?
        .analytics__more_information Звоните по телефону: <a href="tel:+74959999999">+7(495) 999-99-99</a>
  .features
    .features__block
      .features__grid
        .features__prev
          img.features__img(src="../img/macbook.png")
      .features__grid
        .features__title Особенности аналитики и консалтинга у нас
        .features__criteria
          .features__item
            .features__det
              img.features__icon(src="../img/features-1.png")
            .features__subtitle Просто
            .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
          .features__item
            .features__det
              img.features__icon(src="../img/features-2.png")
            .features__subtitle Удобно
            .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
          .features__item
            .features__det
              img.features__icon(src="../img/features-3.png")
            .features__subtitle Стильно
            .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
          .features__item
            .features__det
              img.features__icon(src="../img/features-4.png")
            .features__subtitle Эффективно
            .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
  .features__footer
    .g-wrapper
      .features__content
        .features__callback Закажите обратный звонок и задайте уточняющие вопросы!
        a.feedback__submit(href="#") <span>Подробнее</span>
  include blocks/_circle-portfolio.pug
  include blocks/_steps.pug
  include blocks/_thanks.pug
  include blocks/_feedback.pug

