extends _templates/_main

block vars
  - var pageTitle = 'Digital-сопровождение'
  - var customHeader = true
  - var service = true
  //- - var customBg = '/img/services-bg.png'

block header
  .g-wrapper.g-wrapper_services
    .promotion
      .promotion__title.promotion__title_land Комплексное digital-сопровождение <br> Вашего бизнеса
      .promotion__descript Помогаем клиентам развивать бизнес в сети, интегрироваться в digital сообщество и осваивать новые каналы взаимодействия с целевой аудиторией.
      .promotion__block.promotion__block_services
        .promotion__item.promotion__item_full Увеличение посещаемости сайта
        .promotion__item.promotion__item_full Повышение лояльности клиентов
        .promotion__item.promotion__item_full Взаимодействие с целевой аудиторией в сети
        .promotion__item.promotion__item_full Повышение узнаваемости бренда
        .promotion__item.promotion__item_full И еще более 10 услуг для продвижения Вашего бизнеса в сети
block content
  include blocks/_tabs.pug
  include blocks/_garants.pug
  include blocks/_request.pug
  include blocks/_plan.pug
  include blocks/_cases.pug

