extends _templates/_main

block vars
  - var pageTitle = 'SPACECODE - Digital-агентство полного цикла'
  - var customHeader = false
  - var home = true
  - var metaDescript = "Digital-агентство SPACECODE (г. Москва). Мы разрабатываем по-настоящему крутые продукты в сфере Digital: сайты, интернет-реклама, SEO, мобильные приложения и ПО. Нам по силам проекты любой сложности. Наша команда - коллектив молодых амбициозных выпускников из МГУ и МФТИ. "
  - var metaKeywords = "Веб-студия, Digital-агентство, интернет-агентство, spacecode, space code, спейскод, диджитал-агентство"

block header
  h1 SPACECODE

block content
  include blocks/_services.pug
  include blocks/_stars.pug
  include blocks/_portfolio.pug
  include blocks/_clients.pug
  include blocks/_thanks.pug
  include blocks/_team.pug
  //include blocks/_blog.pug
  include blocks/_feedback.pug


