extends _templates/_main

block vars
  - var pageTitle = 'SPACECODE - Интернет-агентство полного цикла'
  - var customHeader = false
  - var home = true

block header
  h1 Hello World!!!

block preloader
  .preloader
    .preloader__light
    .preloader__wrapper
      .preloader__text
        include ../images/logo.svg

block preloaderstyle
  style.
    .header__active {
      display:top;
    }
    .preloader {
      position: fixed;
      height: 100vh;
      width: 100%;
      z-index: 100000000;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #191A22;
      background-image: radial-gradient(#2c2e3c 0%, #2c2e3c 30%, #191A22 100%);
      animation: showbg 1s forwards;
      will-change: background-image;
    }

    .hide-bg {
      animation: hidebg 1s forwards;
      will-change: opacity;
    }

    .preloader__wrapper {
      overflow: hidden;
    }
    .preloader__text {
      font-size: 10vh;
      transform: translateY(100%);
      color: white;
      text-transform: uppercase;
      transition: .5s;
      animation: showtext 1s 1s forwards;
    }

    .preloader__text svg {
      width: 20vw
    }
    @media (max-width:700px) {
      .preloader__text svg {
      width: 50vw
    }
    }
    .hide-text {
      animation: hidetext 1s forwards;
    }

    .preloader__light {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: rgba(255,255,255,.04);
      animation: blink 3s 2s infinite;
      will-change: top, height;
    }

    @keyframes showtext {
      from { transform: translateY(100%); }
      to { transform: translateY(0); }
    }

    @keyframes hidetext {
      from { transform: translateY(0); }
      to { transform: translateY(100%); }
    }

    @keyframes showbg {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes hidebg {
      from { opacity: 1; }
      to { opacity: 0; }
    }

    @keyframes blink {
      0% {
        top: 100%;
        height: 0%;
      }
      50% {
        top: 0;
        height: 100%;
      }
      100% {
        top: 0;
        height: 0%;
      }
    }

block preloaderscript
  script.
    (function () {
      var preloader = document.querySelector('.preloader');
      var text = document.querySelector('.preloader__text');
      var light = document.querySelector('.preloader__light');

      setTimeout(function () {
        var images = Array.prototype.slice.call(document.querySelectorAll('img'));
        Promise.all(images.map(function (image) {
          return new Promise(function (res, rej) {
            var img = new Image();
            img.setAttribute('src', image.getAttribute('src'));
            img.onload = img.onerror = res;
          });
        })).then(function (_) {
          light.style.animation = 'none';
          document.querySelector('.header__top').style.display = 'flex';
          text.classList.add('hide-text');
          setTimeout(function () {
            return preloader.classList.add('hide-bg');
          }, 1000);
          setTimeout(function () {
            return preloader.style.display = 'none';
          }, 2100);
        });
      }, 4500);
    })();

block content
  include blocks/_services.pug
  include blocks/_stars.pug
  include blocks/_portfolio.pug
  include blocks/_clients.pug
  include blocks/_thanks.pug
  include blocks/_team.pug
  //include blocks/_blog.pug
  include blocks/_feedback.pug


