extends _templates/_main

block vars
  - var pageTitle = 'Разработка мобильных приложений SPACECODE'
  - var customHeader = true
  - var service = true
  //- - var customBg = '/img/services-bg.png'

block header
  .g-wrapper
    .promotion
      .promotion__title Разработка мобильных приложений
      .promotion__block
        .promotion__item Прототипирование
        .promotion__item Обслуживание
        .promotion__item Разработка
        .promotion__item Тестирование
        .promotion__item Продвижение в App Store и Google Play
        .promotion__item Интеграция приложений с сервисами
      a.feedback__submit.services__scroll: span Выбрать решение

block content
  .prices.uppad
    img(src='../img/mobile-planet.png').bg__planet
    .g-wrapper
      .shadow-text.shadow(data-text="Цены на услуги") Цены на услуги
      .analytics__block
        .analytics__item
          .analytics__title
            img(src="../img/mobile-1.png").analytics__img
            .analytics__name Разработка на iOS
          .analytics__content
            p Разработка приложений любой сложности с устойчивой архитектурой, высокой нагружаемостью и возможностью масштабирования
          .analytics__footer
            .analytics__cost от 140 000 руб / от 45 дней
            a.feedback__submit.feedback__submit_black(href="#" data-service="Заказать разработку под iOS") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/mobile-2.png").analytics__img
            .analytics__name Разработка на Android
          .analytics__content
            p Разработка приложений любой сложности с устойчивой архитектурой, высокой нагружаемостью и возможностью масштабирования
          .analytics__footer
            .analytics__cost от 120 000 руб / от 45 дней
            a.feedback__submit.feedback__submit_black(href="#" data-service="Заказать разработку под Android") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/mobile-3.png").analytics__img
            .analytics__name Интеграция приложений
          .analytics__content
            p Разработка API или бесшовная интеграция Вашего мобильного приложения с различными веб-сервисами и интернет ресурсами
          .analytics__footer
            .analytics__cost от 150 000 руб / от 60 дней
            a.feedback__submit.feedback__submit_black(href="#" data-service="Заказать интеграцию приложений") <span>Подробнее</span>
      .calc__footer
        .calc__footer-header Не нашли нужную услугу?
          img.calc__footer-img.calc__footer-img_1(src='/img/calc-f-l.png')
          img.calc__footer-img.calc__footer-img_2(src='/img/calc-f-r.png')
        .calc__phone Звоните по телефону: #[a.calc__phone_bold(href="tel:+74951349434") +7(495)134-94-34]
  .features
    .features__block
      .features__grid
        .features__prev
          img.features__img.features__img_mobile(src="../img/service-device.png")
      .features__grid
        .features__title Особенности разработки мобильных приложений у нас
        .features__criteria
          .features__item
            .features__det
              img.features__icon(src="../img/features-1.png")
              .features__subtitle Масштабируемость
            .features__text Все наши приложения могут быть легко модифицированы и расширены до любого уровня
          .features__item
            .features__det
              img.features__icon(src="../img/features-3.png")
              .features__subtitle Usability
            .features__text Мы тщательно прорабатываем сценарии использования и логику работы приложения. Даже самый придирчивый пользователь останется доволен
          .features__item
            .features__det
              img.features__icon(src="../img/features-4.png")
              .features__subtitle Эффективность
            .features__text Максимально оптизируем программный код, в следствие чего приложение использует минимальное количество ресурса процессора
          .features__item
            .features__det
              img.features__icon(src="../img/features-2.png")
              .features__subtitle Устойчивая архитектура
            .features__text Мы создаем наши приложения таким образом, чтобы они легко перерабатывались и дополнялись необходимым функционалом
  .features__footer
    img(src="../img/features-footer.png").bg__features
    .g-wrapper
      .features__content
        .features__callback Закажите обратный звонок и задайте уточняющие вопросы!
        a.feedback__submit(href="#") <span>Подробнее</span>
  //include blocks/_circle-portfolio.pug
  .steps
    .g-wrapper
      .shadow-text(data-text="Этапы работы") Этапы работы
      .steps__content
        img.steps__image(src="/img/rocket-lines.png")
        .steps__step.steps__step_1
          img.steps__planet(src="/img/planet-1.png")
          .steps__number.steps__number_1 1
          .steps__description
            .steps__header Консультация
            .steps__text Обсуждаем основную идею приложения, дизайн, юзабилити и техническую часть
        .steps__step.steps__step_2
          img.steps__planet(src="/img/planet-2.png")
          .steps__number.steps__number_2 2
          .steps__description
            .steps__header Прототипирование
            .steps__text Разрабатываем эскизы приложения, прорабатываем структуру и логику, предлагаем варианты дизайна
        .steps__step.steps__step_3
          img.steps__planet(src="/img/planet-3.png")
          .steps__number.steps__number_3 3
          .steps__description
            .steps__header Разработка
            .steps__text Создаем прогрманный код приложения, верстаем дизайн и проводим первичные тесты
        .steps__step.steps__step_4
          img.steps__planet(src="/img/planet-4.png")
          .steps__number.steps__number_4 4
          .steps__description
            .steps__header Запуск
            .steps__text Готовим документацию на приложение. Публикуем проект в App Store и Google Play
        .steps__step.steps__step_5
          img.steps__planet(src="/img/planet-5.png")
          .steps__number.steps__number_5 5
          .steps__description
            .steps__header Поддержка
            .steps__text Оказываем услуги по рекламе и продвижению приложения по всем рекламным каналам
      .rocket
        button.rocket__button
          span.rocket__text Начать
          span.rocket__block
            img.rocket__body(src="/img/rocket-body.png")
            img.rocket__fire(src="/img/rocket-fire.png")
          span.rocket__text Полет
          .rocket__lines
  include blocks/_clients.pug
  include blocks/_thanks.pug

