extends _templates/_main

block vars
  - var pageTitle = 'Портфолио – сайты, мобильные приложения, контекстная реклама, SEO-продвижения | Digital-агентство SPACECODE'
  - var customHeader = true
  - var headerHeight = 500
  - var portfolio = true
  - var metaDescript = "Портфолио Digital-агентства полного цикла SPACECODE. Кейсы по разработке сайтов, интернет-магазинов, мобильных приложений, ПО, контекстной рекламы и SEO-продвижения. Примеры сайтов по отраслевым тематикам: нефть, одежда, фитнесс, крупный бизнес и др."
  - var metaKeywords = "портфолио веб студии, примеры работ веб студии, портфолио digital, кейсы веб студии, портфолио диджитал, портфолио digital, портфолио сайты"
  //- - var customBg = '/img/services-bg.png'

block header
  .portfolio__top
    .portfolio__header Портфолио

block content
  include blocks/_portfolio-big.pug
  .portfolio__footer
    .portfolio__like Понравились наши работы? <span> Давайте сотрудничать! </span>
    span.portfolio__rocket
      .feedback__submit.feedback__submit_black(onclick="yaCounter46089240.reachGoal('callback_direct'); return true;") <span> Начать сотрудничество </span>
  include blocks/_feedback.pug


