extends _templates/_main

block vars
  - var pageTitle = 'Продвижение и реклама SPACECODE'
  - var customHeader = true
  - var service = true

block header
  .g-wrapper
    .promotion
      .promotion__title Реклама и продвижение
      .promotion__block
        .promotion__item Контекстная реклама
        .promotion__item Медийная реклама
        .promotion__item SEO-продвижение
        .promotion__item Сквозная аналитика
        .promotion__item Реклама в соц. сетях
        .promotion__item Мониторинг отдела продаж
      a.feedback__submit: span Выбрать решение

block content
  include blocks/_prices.pug
  include blocks/_features.pug
  include blocks/_circle-portfolio.pug
  include blocks/_steps.pug
  include blocks/_thanks.pug
  include blocks/_feedback.pug
