extends _templates/_main

block vars
  - var pageTitle = 'Картай сайта SPACECODE | Digital-агентство SPACECODE'
  - var customHeader = true
  - var service = true
  - var siteMap = true
  - var metaDescript = "Digital-агентство SPACECODE. Карта сайта"
  - var metaKeywords = "карта сайта"

block header
  .g-wrapper.g-wrapper_services
    .promotion
      .promotion__title.promotion__title_land.promotion__title_line Карта сайта
block content
  .services
    .g-wrapper
      .sitemap__content
        .sitemap__item
          a(href="/").sitemap__link SPACECODE - Digital-агентство полного цикла в Москве | Сайты, интернет-реклама, SEO, мобильные приложения и ПО.
        .sitemap__item
          a(href="/about.html").sitemap__link &nbsp;&nbsp; О студии - SPACECODE | Digital-агентство полного цикла SPACECODE
        .sitemap__item
          a(href="/costs.html").sitemap__link &nbsp;&nbsp; Цены на разработку сайтов, приложений, ПО, интернет-рекламы и SEO-продвижения | Digital-агентство SPACECODE
        .sitemap__item
          a(href="/portfolio.html").sitemap__link &nbsp;&nbsp; Портфолио – сайты, мобильные приложения, контекстная реклама, SEO-продвижения | Digital-агентство SPACECODE
        .sitemap__item
          a(href="/contacts.html").sitemap__link &nbsp;&nbsp; Контакты - Digital-агентство в Москве | Digital-агентство SPACECODE
        .sitemap__item
          a(href="").sitemap__link &nbsp;&nbsp; Услуги
        .sitemap__item
          a(href="/services/websites.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Создание сайтов в Москве под ключ | Digital-агентство полного цикла SPACECODE
        .sitemap__item
          a(href="/services/promotion.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Продвижение и реклама сайтов | Digital-агентство полного цикла SPACECODE
        .sitemap__item
          a(href="/services/design.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Веб-дизайн, фирменный стиль, айдентика | Digital-агентство SPACECODE
        .sitemap__item
          a(href="/services/software.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Разработка и интеграция ПО | Digital-агентство полного цикла SPACECODE
        .sitemap__item
          a(href="/services/analytics.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Аналитика и консалтинг | Digital-агентство полного цикла SPACECODE
        .sitemap__item
          a(href="/services/mobile.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Разработка мобильных приложений на заказ | Digital-агентство SPACECODE
        .sitemap__item
          a(href="/services/complex-digital.html").sitemap__link &nbsp;&nbsp;&nbsp;&nbsp; - Разработка и продвижение сайтов | Digital-агентство SPACECODE



