extends _templates/_main

block vars
  - var pageTitle = 'Разработка и интеграция ПО SPACECODE'
  - var customHeader = true
  - var service = true

block header
  .g-wrapper
    .promotion
      .promotion__title Разработка и интеграция ПО
      .promotion__block
        .promotion__item .NET разработка
        .promotion__item Java разработка
        .promotion__item Разработка BI-систем
        .promotion__item Разработка IOT решений
        .promotion__item Data-mining
        .promotion__item Сложные веб-интерфейсы
      a.feedback__submit: span Выбрать решение

block content
  .prices.uppad
    img(src='../img/software-planet.png').bg__planet
    .g-wrapper
      .shadow-text.shadow(data-text="Цены на услуги") Цены на услуги
      .software__block
        .software__item
          .software__content
            .software__title
              img.software__img(src="../img/software-1.png")
              .software__name Java разработка
            .software__skills
              .software__skill
                .software__skill_name Frameworks
                .software__skill_about Spring MVC, Play Framework, Apache Struts 2, Apache Wicket,  Apache  Tapestry, Google Web Toolkit
              .software__skill
                .software__skill_name Application/Web Servers
                .software__skill_about Jetty, Tomcat, Oracle WebLogic Server, IBM, GlassFish, WebSpere Application Server, Ref Hat WildFly
              .software__skill
                .software__skill_name Javascript frameworks
                .software__skill_about AngularJS, Angular 2, React & Redux
              .software__skill
                .software__skill_name Data Storage
                .software__skill_about Oracle, Microsoft SQL Server, MySQL, PostgreSQL, MongoDB
              .software__skill
                .software__skill_name Messaging & Service buses
                .software__skill_about AngularJS, Angular 2, React & Redux
              .software__skill
                .software__skill_name Operating Systems
                .software__skill_about Microsoft Windows, Linux, Mac OS
          .software__footer
            .software__cost от 300 000 руб.
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .software__separator
          img(src="../img/mini-planet.png").software__separator_img
        .software__item
          .software__content
            .software__title
              img.software__img(src="../img/software-2.png")
              .software__name .NET разработка
            .software__skills
              .software__skill
                .software__skill_name Frameworks
                .software__skill_about Microsoft ASP.NET MVC & Web Forms, ServiceStack Framework
              .software__skill
                .software__skill_name Windows Forms
                .software__skill_about Microsoft Windows Forms, DevExpress WinForms, Telerik UI for WinForms
              .software__skill
                .software__skill_name CMS
                .software__skill_about Orchard CMS, Umbaco CMS DotNetNuke
              .software__skill
                .software__skill_name Office
                .software__skill_about Microsoft Apps For Office, Visual Studio Tools for Office (VSTO)
              .software__skill
                .software__skill_name Infrastructure
                .software__skill_about Managed Extensibility Framework (MEF)
              .software__skill
                .software__skill_name Window Presentation Foundation
                .software__skill_about Microsoft WPF, DevExpress WPF, Telerik UI for WPF
              .software__skill
                .software__skill_name UI components
                .software__skill_about DevExpress ASP.NET MVC & AJAX, Teletik UI for ASP.NET MVC & AJAX
              .software__skill
                .software__skill_name Messaging & Service buses
                .software__skill_about Microsoft Message Queuing (MSMQ), NserviceBus, MassTransit, RabbitMQ
          .software__footer
            .software__cost от 500 000 руб.
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .software__separator
          img(src="../img/mini-planet.png").software__separator_img
        .software__item
          .software__content
            .software__title
              img.software__img(src="../img/software-3.png")
              .software__name Разработка BI-систем
            .software__skills
              .software__skill
                .software__skill_name Дата-майнинг
                .software__skill_about Извлечение данных для эффективного решения бизнес-задач
              .software__skill
                .software__skill_name Обработка потоковых данных
                .software__skill_about Обработка больших потоков событий в реальном времени
              .software__skill
                .software__skill_name Агрегирование данных
                .software__skill_about Сбор и хранение данных из различных источников в реальном времени
              .software__skill
                .software__skill_name Машинное обучение
                .software__skill_about Автоматическое выявление закономерностей в данных
              .software__skill
                .software__skill_name Обработка больших данных
                .software__skill_about Обработка больших объемов неструктурированных данных
              .software__skill
                .software__skill_name Предиктивная аналитика
                .software__skill_about Создание прогнозов с целью принятия оптимальных бизнес-решений
          .software__footer
            .software__cost от 1 500 000 руб.
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
      .calc__footer
        .calc__footer-header Не нашли нужную услугу?
          img.calc__footer-img.calc__footer-img_1(src='/img/calc-f-l.png')
          img.calc__footer-img.calc__footer-img_2(src='/img/calc-f-r.png')
        .calc__phone Звоните по телефону: #[a.calc__phone_bold(href="tel:+74959999999") +7(495) 999-99-99]

  .features
    .features__block
      .features__grid
        .features__prev
          img.features__img(src="../img/macbook-software.png")
      .features__grid
        .features__title Особенности разработки и интеграции ПО у нас
        .features__criteria
          .features__item
            .features__det
              img.features__icon(src="../img/features-1.png")
            .features__subtitle Просто
            .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
          .features__item
            .features__det
              img.features__icon(src="../img/features-2.png")
            .features__subtitle Удобно
            .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
          .features__item
            .features__det
              img.features__icon(src="../img/features-3.png")
            .features__subtitle Стильно
            .features__text Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг
          .features__item
            .features__det
              img.features__icon(src="../img/features-4.png")
            .features__subtitle Эффективно
            .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
  .features__footer
    .g-wrapper
      .features__content
        .features__callback Закажите обратный звонок и задайте уточняющие вопросы!
        a.feedback__submit(href="#") <span>Подробнее</span>
  include blocks/_circle-portfolio.pug
  include blocks/_steps.pug
  include blocks/_thanks.pug
  include blocks/_feedback.pug

