extends _templates/_main

block vars
  - var pageTitle = 'Команда SPACECODE'

block content
  .team
    .g-wrapper
      .shadow-text.shadow-text_light(data-text="Настоящие профессионалы") Настоящие профессионалы
      .team__block.team__block_wrap
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Борис Вечеркин
          .team__post Технический директор
          .team__descript Читает в МФТИ курс параллельного программирования
        .team__person.team__person_basis
          img.team__img(src="../img/team-2.png")
          .team__name Дмитрий Кравцов
          .team__post Ведущий програмист
          .team__descript Разрабатывал высоконагружаемые сервисы «Яндекс»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
        .team__person.team__person_basis
          img.team__img(src="../img/team-1.png")
          .team__name Игорь Коняхин
          .team__post Ведущий back-end разработчик
          .team__descript Научный сотрудник лаборатории «Сколково»
  include blocks/_feedback.pug
