extends _templates/_main

block vars
  - var pageTitle = 'Команда SPACECODE'
  - var customHeader = true
  - var team = true
  - var headerHeight = 500
  - var customBg = '/img/services-bg.png'

block header
  .g-wrapper
    .promotion
      .promotion__title Команда
block content
  include blocks/_fullteam.pug
