extends _templates/_main

block vars
  - var pageTitle = 'Разработка веб-сайтов SPACECODE'
  - var customHeader = true
  - var service = true
  - var customBg = '/img/services-bg.png'

block header
  .g-wrapper
    .promotion
      .promotion__title Разработка веб-сайтов
      .promotion__block
        .promotion__item Корпоративные и промо-сайты
        .promotion__item Интернет-магазины
        .promotion__item Корпоративные порталы
        .promotion__item Посадочные страницы
        .promotion__item Сложные веб-сервисы
        .promotion__item Эксклюзивные сайты
      a.feedback__submit: span Выбрать решение

block content
  .prices.uppad
    img(src='../img/web-planet.png').bg__planet
    .g-wrapper
      .shadow-text.shadow(data-text="Цены на услуги") Цены на услуги
      .analytics__block.website__block
        .analytics__item
          .analytics__title
            img(src="../img/web-1.png").analytics__img
            .analytics__name Корпоративный сайт
          .analytics__content
            p Корпоративный сайт, который удовлетворит потребности 90% заказчиков
          .analytics__footer
            .analytics__cost от 50 000 руб / 10 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/web-2.png").analytics__img
            .analytics__name Интернет-магазин
          .analytics__content
            p Современный интернет-магазин с возможностью оплаты товаров онлайн
          .analytics__footer
            .analytics__cost от 95 000 руб / 25 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/web-3.png").analytics__img
            .analytics__name Landing Page
          .analytics__content
            p Посадочная страница для превращения посетителей в клиентов
          .analytics__footer
            .analytics__cost от 40 000 руб / 7 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .software__separator
          img(src="../img/mini-planet.png").software__separator_img
        .analytics__item
          .analytics__title
            img(src="../img/web-4.png").analytics__img
            .analytics__name Сайт-визитка
          .analytics__content
            p Небольшой сайт для малого бизнеса
          .analytics__footer
            .analytics__cost от 40 000 руб / 10 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/web-5.png").analytics__img
            .analytics__name Веб-портал
          .analytics__content
            p Высоконагружаемый интернет-портал с большим количеством данных
          .analytics__footer
            .analytics__cost от 100 000 руб / 20 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
        .analytics__item
          .analytics__title
            img(src="../img/web-6.png").analytics__img
            .analytics__name Эксклюзивный сайт
          .analytics__content
            p Интернет-проект, созданный для Вас и под Вас
          .analytics__footer
            .analytics__cost от 200 000 руб / 25 дней
            a.feedback__submit.feedback__submit_black(href="#") <span>Подробнее</span>
      .calc__footer
        .calc__footer-header Не нашли нужную услугу?
          img.calc__footer-img.calc__footer-img_1(src='/img/calc-f-l.png')
          img.calc__footer-img.calc__footer-img_2(src='/img/calc-f-r.png')
        .calc__phone Звоните по телефону: #[a.calc__phone_bold(href="tel:+74959999999") +7(495) 999-99-99]

  .features
    .features__block
      .features__grid
        .features__prev
          img.features__img(src="../img/web-bg.png")
      .features__grid
        .features__title Особенности разработки веб-сайтов у нас
        .features__criteria
          .features__item
            .features__det
              img.features__icon(src="../img/features-1.png")
            .features__subtitle Просто
            .features__text
          .features__item
            .features__det
              img.features__icon(src="../img/features-2.png")
            .features__subtitle Удобно
            .features__text Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки
          .features__item
            .features__det
              img.features__icon(src="../img/features-3.png")
            .features__subtitle Стильно
            .features__text Мы постоянно следим за трендами веб-дизайна, а наш опыт позволет разрабатывать простые, стильные и продающие сайты
          .features__item
            .features__det
              img.features__icon(src="../img/features-4.png")
            .features__subtitle Эффективно
            .features__text Соответствие современным требованиям дизайна, технологий, юзабилити, безопасности - это то, благодаря чему создаем по-настоящему эффективные сайты
  .features__footer
    img(src="../img/features-footer.png").bg__features
    .g-wrapper
      .features__content
        .features__callback Закажите обратный звонок и задайте уточняющие вопросы!
        a.feedback__submit(href="#") <span>Подробнее</span>
  include blocks/_circle-portfolio.pug
  include blocks/_steps.pug
  include blocks/_thanks.pug
  include blocks/_feedback.pug

