@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoRegular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBold.ttf');
  font-style: normal;
  font-weight: 700;
}
