@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoRegular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-semibold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothaProBol.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothaProLig.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothaProMed.otf');
  font-style: normal;
  font-weight: 500;
}
