.shadow-text
  color: #17171d;
  font-family: "Gotham Pro";
  font-size: 38px;
  font-weight: 700;
  position relative
  z-index 0
  margin-bottom 60px
  &:before
    content attr(data-text)
    position absolute
    top -32px
    left 26px
    opacity: 0.08;
    color: #212121;
    font-family: "Gotham Pro";
    font-size: 64px;
    font-weight: 700;
  &:after
    content: '';
    position absolute
    top -2px
    left -36px
    width 20px
    height 20px
    border-radius 50%
    box-shadow: 0 0 24px rgba(23, 23, 29, 0.5);
    background-color: #393946;
  &_light
    color white
    &:before
      opacity: 0.05;
      color: #ffffff;
    &:after
      box-shadow: 0 0 25px rgba(201, 204, 222, 0.7);
      background-color: #9092a0;
.g-wrapper
  width 1200px
  margin 0 auto

.link__more
  position: relative
  font-family Lato
  font-size: 19px;
  border-bottom 1px dotted #ffffff
  color #ffffff
  transition: 0.3s
  &_pdf:before
    position: absolute
    content '\f1c1'
    font-family: FontAwesome
    font-size: 28px;
    left: -36px;
    top: -2px;
  &_dark
    color: #17171d;
    border-color: #17171d;
  &:after
    position absolute
    content "\f105"
    top: 2px;
    right: -24px;
    font-size: 22px;
    font-family FontAwesome
  &:hover
    color secondColor
    border-bottom 1px dotted secondColor
  &_big
    font-size: 28px;
    white-space: nowrap
    &:after
      top: 10px;
      right: -24px;
      font-size: 20px
  &_big_marg
    margin-top 200px
  &_black
    color: #000

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    transform: scale(1.5) rotate(20deg);
  }
  100% {
    opacity: 1;
  }
}

.nopad
  padding 0px 12px 80px 12px !important
  background: none !important
.pluspad
  padding 0 0 100px 0 !important
.uppad
  padding-top 0px

.hamburger
  display none
  border none
  background-color transparent
  position fixed
  top 12px
  right 12px
  &:after
    content '\f0c9'
    font-family: FontAwesome
    color secondColor
    font-size 30px

