.header__ios
  background url('../img/header-main-bg.png') center center no-repeat
  background-size cover
.shadow-text
  color: #17171d;
  font-family: "Gotham Pro";
  font-size: 46px;
  font-weight: 700;
  position relative
  z-index 0
  margin-bottom 104px
  &:before
    content attr(data-text)
    position absolute
    top -32px
    left 26px
    opacity: 0.08;
    color: #212121;
    font-family: "Gotham Pro";
    font-size: 80px;
    font-weight: 700;
  &:after
    content: '';
    position absolute
    top -2px
    left -36px
    width 20px
    height 20px
    border-radius 50%
    box-shadow: 0 0 24px rgba(23, 23, 29, 0.5);
    background-color: #393946;
  &_light
    color white
    &:before
      opacity: 0.05;
      color: #ffffff;
    &:after
      box-shadow: 0 0 25px rgba(201, 204, 222, 0.7);
      background-color: #9092a0;
.g-wrapper
  width 1200px
  margin 0 auto
  &_services
    padding 0

.link__more
  position: relative
  font-family Lato
  font-size: 24px;
  border-bottom 1px dotted #ffffff
  color #ffffff
  transition: 0.3s
  &_pdf:before
    position: absolute
    content '\f1c1'
    font-family: FontAwesome
    font-size: 28px;
    left: -36px;
    top: -2px;
  &_dark
    color: #17171d;
    border-color: #17171d;
  &:after
    position absolute
    content "\f105"
    top: 6px;
    right: -24px;
    font-size: 22px;
    font-family FontAwesome
  &:hover
    color secondColor
    border-bottom 1px dotted secondColor
  &_big
    font-size: 28px;
    white-space: nowrap
    &:after
      top: 10px;
      right: -24px;
      font-size: 20px
  &_big_marg
    margin-top 200px
  &_black
    color: #000

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    transform: scale(1.5) rotate(20deg);
  }
  100% {
    opacity: 1;
  }
}

.nopad
  padding 0px 12px 80px 12px !important
  background: none !important
.pluspad
  padding 0 0 100px 0 !important
.uppad
  padding-top 0px

.hamburger
  display none
  border none
  background-color transparent
  position fixed
  top 12px
  right 12px
  z-index 11
  &:after
    content '\f0c9'
    font-family: FontAwesome
    color secondColor
    font-size 30px
.bg
  &__planet
    position: absolute
    top: -200px;
    width: 207px;
    right 0
    &_contacts
      position: absolute
      right 0
      top: -200px;
      width: 500px;
    &_team
      position: absolute
      right 0
      top: -290px;
      width: 540px;
    &_about
      position: absolute
      right 0
      top -196px
      width 240px
    &_feedback
      position: absolute
      right 0
      top -148px
      width 240px
  &__portfolios
    position: absolute
    top: -100px;
    width: 100%;
    right 0
  &__features
    position: absolute
    bottom -126px
    left 0
    width: 100%

.tingle__bg .tingle-modal-box
  max-width 946px
.tingle__bg .tingle-modal-box__content
  background white
  padding 0
.tingle__bg .tingle-modal__closeIcon
  color secondColor
.swiper-button-next, .swiper-button-prev
  top 40% !important

.header__about
  h1
    font-family: "Gotham Pro";
    font-size: 74px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom 40px;
    width 930px

.displaynone
  display:inline-block;
  width: auto;
  margin-bottom: 0;

.p404
  z-index: 1;
  position: relative;
  width 100%
  &__header
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 74px;
    font-weight: 700;
    position relative
    padding-bottom 38px
    margin-bottom 40px
    &:after
      content: ""
      position absolute
      top 100%
      left 0
      width: 60px;
      height: 4px;
      background-color: #f0143a;
  &__subHeader
    color: #ffffff;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    margin-bottom 20px
  &__text
    max-width: 474px;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom 60px
  &__image
    position absolute
    top 50%
    right 0
    transform: translateY(-50%)
    z-index -1
