@media (max-width:1300px)
  .header__top
    padding: 28px 8px 0
@media (max-width:1200px)
  .g-wrapper
    width 100%
  .shadow-text
    margin-left 50px
  .menu
    width 100%
    justify-content: center
    margin 12px 0 20px
    &__submenu
      background-color rgba(41,39,50,1)
  .header
    &__top
      flex-wrap: wrap
      justify-content: center
    &__about
      margin 0 10%
    &__title, &__text
      width 100%
  .services
    &__item
      flex-basis: 50%
      padding-left: 50px
    &__title
      width 100%
  .portfolio
    &__buttons
      padding 0 8px
    &__more
      white-space: nowrap;
      font-size: 20px;
    &__header
      font-size 30px
    &__text
      font-size 15px
  .team
    padding 100px 0 0 0
    &__block
      flex-wrap: wrap
    &__post
      margin-bottom 20px
    &__img
      margin-bottom 20px
      width inherit
    &__person
      flex-basis: 100%
      margin-right 0
      margin-bottom 60px
      &_basis
        flex-basis: 50%

  .clients
    &__item
      flex-basis: 50%
  .blog
    &__block
      flex-wrap: wrap
    &__item
      flex-basis: 100%
      padding 12px
      margin-bottom 40px
      margin-right 0
  .feedback
    &__block
      flex-direction: column
      justify-content: center
      align-items: center
    &__grid
      width 100%
      text-align center
    &__anonce
      width 100%
    &__form
      width 80%
  .link__more_pdf
    display: block;
    margin: 0 auto 34px;
  .link__more_big_marg
    margin-top 30px
  .navigation
    padding 0 12px
    &__col
      flex-basis: auto
      margin-right 38px
  .about
    &__block
      flex-direction: column
    &__grid
      padding 0 12px
      margin-bottom 20px
  .calc__footer img
    display none
  .analytics__block
    flex-wrap: wrap
  .prices__footer
    flex-wrap: wrap;
    justify-content: center;
  .feedback__item
    width 100%
  .feedback__name, .feedback__text
    margin 0 auto
  .feedback__name
    margin-bottom 12px
  .feedback__name:after
    width 100%
    bottom -4px
  .analytics
    &__item
      flex-basis: 50%
  .prices
    padding 100px 12px 100px 12px
  .features
    &__grid
      flex-basis: 100%
      padding 0 12px
      &:first-child
        display none
  .made
    &__block
      padding 0 12px
  .steps
    padding: 140px 0 100px 0;
    &__image
      display none
    &__header
      font-size: 28px
    &__text
      font-size 16px
    &__content
      display flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding 0 12px
    &__planet
      display none
    &__number_1
      padding-left 30px
    &__step
      width 100%
      position static
      margin-bottom 24px
      & .steps__description
        width 100%
  .calc
    padding-left 12px
    padding-right 12px
    &__col
      flex-basis: calc(100% / 12 * 6)
  .services
    padding-top 100px
  .thanks
    padding 100px 0 0 0
@media (max-width: 700px)
  .hamburger
    display block
  .wrapper
    width 100%
    overflow-x: hidden
  .shadow-text
    font-size 34px
    &:before
      font-size 34px
  .header
    display flex
    justify-content: center
    min-height 100vh
    &__top
      display none
    &__title
      font-size 32px
      line-height: 36px
    &__text
      font-size 16px
    &__main
      height: auto
  .services__item
    flex-basis: 100%
  .portfolio
    &__mobile
      display block
    &__buttons
      display none
    &__block
      flex-basis: 100%
      height 270px
    &__float
      top 0
      padding 6px 14px 6px 12px
    &__button
      margin 0 20px 15px 0
    &__header
      font-size: 26px
    &__text
      font-size: 12px
  .clients__item
    flex-basis: 100%
  .promotion
    &__block
      flex-wrap: wrap
    &__item
      flex-basis: 100%
    &__title
      font-size 40px
  .navigation
    flex-wrap wrap
    &__col
      flex-basis: 50%;
      margin-right 0
      &:last-child
        flex-basis: 100%;
  .about__grid img
    width 100%
  .analytics
    &__block
      margin-bottom 60px
    &__item
      flex-basis: 100%
      padding: 26px 0 0px 0;
      margin-bottom 50px
    &__content
      margin-bottom: 4px
    &__title
      margin-bottom 4px
    &__img
      margin-bottom 4px
  .features
    padding 60px 0 0 0
    &__item
      flex-basis: 100%
    &__footer
      height: auto
    &__content
      padding: 30px 0 30px 0;
    &__callback
      margin 0 0 20px 0
      width 100%
      text-align: center
      font-size: 30px
    &__content
      flex-wrap: wrap
  .made
    padding 80px 0 0 0
    background-size inherit
    &__block
      justify-content: center
    &__item
      flex-basis 100%
  .prices
    padding: 0px 12px 0px 12px
    &__block
      justify-content: center
      margin-bottom 0
    &__item
      flex-basis 100%
    &__content
      margin-bottom 20px
    &__footer
      justify-content: space-around
    &__title
      margin-bottom 20px
  .software
    &__skill
      flex-basis: 100%
    &__footer
      flex-wrap: wrap
    &__cost
      margin-bottom 10px
  .calc
    padding-top 60px
    &__col
      flex-basis: calc(100% / 12 * 12)
    &__price
      margin-bottom 60px
  .feedback
    &__block
      display block
  .clients, .blog
    background-size inherit
  .shadow-text
    margin-bottom 40px
  .callback
    &__title
      text-align center
      white-space: normal
      width 340px
    &__content .header__button
      align-self: center
      transform: translateY(24px)
  .nopad
   padding: 0px 12px 60px 12px !important
  .uppad
    padding-top 80px !important
  .features
    &__icon
      display: block
      margin 0 auto
    &__subtitle
      width 100%
      text-align: center
    &__text
      width 100%


