@import './_vars.styl'
@import './_fonts.styl'
@import './_reset.styl'
@import './_global.styl'

@import './blocks/header.styl'
@import './blocks/menu.styl'
@import './blocks/services.styl'
@import './blocks/stars.styl'
@import './blocks/portfolio.styl'
@import './blocks/team.styl'
@import './blocks/clients.styl'

@import './_media.styl'
