@import './_vars.styl'
@import './_fonts.styl'
@import './_reset.styl'
@import './_global.styl'

@import './blocks/header.styl'
@import './blocks/menu.styl'
@import './blocks/services.styl'
@import './blocks/stars.styl'
@import './blocks/portfolio.styl'
@import './blocks/team.styl'
@import './blocks/clients.styl'
@import './blocks/blog.styl'
@import './blocks/feedback.styl'
@import './blocks/footer.styl'
@import './blocks/prices.styl'
@import './blocks/features.styl'
@import './blocks/circle-portfolio.styl'
@import './blocks/thanks.styl'
@import './blocks/promotion.styl'
@import './blocks/steps.styl'

@import './blocks/contacts-page.styl'
@import './blocks/analytics-page.styl'

@import './_media.styl'
