.about
  &__img
    width 100%
    object-fit: cover
    &_cubick
      width 290px
      display: block
      margin 0 auto
  &__team
    width 100%
    object-fit: cover
  &__height
     height: 360px
     overflow hidden
     transition: height .5s
  &__show_more
    color white
    font-size: 26px
    text-align center
    cursor pointer
    transition .5s

    &_icon
      transition .5s
      transform: rotate(0)
      animation: downbutton 1s alternate infinite
  &__block
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: nowrap
    &_pad
      padding-bottom 150px
  &__wrap
    margin-bottom 100px
  &__grid
    flex-basis 45%
  &__text
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
  &__title
    font-weight: bold;
    font-size: 46px
    line-height: 45px;
    font-family: GothamPro;
    margin-bottom 60px
  &__center
    text-align: center
  &__anonce
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    line-height: 40px;
    position: relative
    padding-left 34px
    margin-bottom 24px
    &:before
      content ""
      width 28px
      height 28px
      position: absolute
      left -10px
      top 6px
      background: url('../img/check.png') no-repeat
      background-size cover
  &__margin
    margin-top -170px


@keyframes downbutton
  from
    transform: translateY(0)
  to
    transform: translateY(2px)
