.analytics
  &__block
    display flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom 100px
  &__item
    position: relative
    flex-basis: 44%
    margin-bottom 20px
    display flex
    flex-direction: column
    justify-content: flex-start
    padding 40px 0 40px 0
  &__title
    display flex
    justify-content: flex-start
    flex-direction: column
    align-items: center
    margin-bottom 30px
  &__name
    width 90%
    text-align: center
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  &__img
    width 66px
    height 66px
    object-fit: contain
    margin-bottom 30px
  &__content
    margin-bottom 30px
    p
      text-align: center
      position: relative
      color: #17171d;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      padding-left: 20px
  &__cost
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 14px
  &__footer
    display flex
    justify-content: space-between
    align-items center
    flex-direction: column
  &__more
    display flex
    justify-content: center
    align-items center
    flex-direction: column
    &_title
      font-family: 'Gotham Pro';
      font-weight: bold
      font-size: 40px;
      margin-bottom 30px
    &_information
      color: #17171d;
      font-family: Lato;
      font-size: 30px;
      & a
        font-family: 'Gotham Pro';
        font-weight: bold
        font-size: 30px;
        color black

