.blog
  padding 0 0 130px 0
  background url('../img/portfolio-bg.png') no-repeat
  background-size: cover
  &__block
    display flex
    flex-wrap: nowrap
  &__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-right 60px
    &:last-child
      margin-right 0
  &__wrap
    position: relative
  &__img
    width 90%
    object-fit: cover
    margin-bottom 40px
    &_title
      position: absolute
      top 50px
      left 0
      color: #ffffff;
      font-family: Lato;
      font-size: 18px;
      padding 8px 25px 8px 50px
      background: secondColor
  &__title
    color: #17171d;
    font-family: Lato;
    font-size: 26px;
    margin-bottom 30px
  &__description
    color: #17171d;
    font-family: Lato;
    font-size: 16px;
    margin-bottom 40px
  &__anonce
    color: #8b8b8e
    font-family: Lato;
    font-size: 16px;
    align-self: flex-end
    position: relative
    margin-bottom 44px
    &:before
      content "\f040"
      font-family FontAwesome
      font-size: 14px;
      position: absolute;
      top: 4px;
      left: -20px;
  &__link
    align-self: flex-start
    &_right
      align-self: center



