.cases
  margin-bottom 80px
  &__content
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap wrap
  &__img
    margin-bottom 24px
  &__item
    flex-basis 30%
    margin-bottom 30px
    transition 0.35s
    cursor pointer
    &:hover
      box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14);
  &__title
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center
    text-transform: uppercase;
    margin-bottom 16px
  &__descript
    color: #353947;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center
    margin-bottom 22px
    padding 0 40px
  &__more
    display: block
    width 126px
    color #17171d
    border-bottom 1px dotted #17171d
    margin 0 auto
    margin-bottom 50px
  &__footer
    display flex
    flex-direction column
    justify-content center
  &__submit
    color black
    margin 0 auto
    position relative
    font-family: Lato;
    font-size: 20px;
    padding: 14px 60px 14px 40px;
    border: 2px solid secondColor;
    display: inline-block
    background-color transparent
    overflow hidden
    cursor: pointer
    &:after
      position absolute
      content "\f105"
      right: 40px;
      top: 15px;
      font-size 24px
      font-family: FontAwesome
    &:before
      content: '';
      z-index: -2;
      position: absolute;
      top: -30px;
      left: -40px;
      width: 30px;
      height: 118px;
      background-color: #f0143a;
      border-radius: 50%;
      -webkit-transition: 0.8s;
      transition: 0.8s;
    & span
      position relative
      z-index 1
    &:hover:before
      width 450px
.cases__item:hover .cases__more
  color red
  border-bottom 1px dotted red
@media (max-width:1450px)
  .cases
    &__more
      width: 96px;
@media (max-width:1120px)
  .cases
    &__content
      justify-content: space-around
@media (max-width:700px)
  .cases
    &__content
      justify-content: center
    &__item
      flex-basis 88%
      box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14);
    &__img
      width 100%
      margin-bottom 16px
    &__title
      font-size 18px
      margin-bottom 8px
    &__descript
      font-size 14px
      margin-bottom 14px
    &__more
      width: 78px;
    &__submit
      font-size 18px
      padding 18px 54px 18px 30px
      &:after
        top 17px
