.clients
  padding 196px 0
  background url('../img/portfolio-bg.png') no-repeat
  background-size: cover
  &__block
    display flex
    flex-wrap: wrap;
    justify-content: space-around;
  &__item
    flex-basis: 16%
    display: flex
    justify-content: center
    align-items: center
    margin-bottom 60px
  &__img
    width: 100%
    object-fit: cover;
