.feedback
  &__center
    text-align: center
    line-height: 40px;
  &__item
    display flex
    justify-content: flex-start
    flex-direction: column
    align-items: flex-start
    margin-bottom 60px
  &__name
    color: #ffffff;
    font-family: Lato;
    font-size: 26px;
    margin-bottom 34px
    position: relative
    &:after
      content ''
      position: absolute
      left 0
      bottom -20px
      width: 30%
      height 3px
      background secondColor
  &__text
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
  &__email
    text-decoration: underline;
    font-size 18px

.contacts
  &__grid
    display flex
    justify-content: flex-start
    align-items: flex-start
  &__map
    height: 595px
    background: url('../img/map.png') center no-repeat
    background-size: cover

