.header
  height 100vh
  background url('/img/header-main-bg.png') center center no-repeat
  background-size cover
  &__top
    display flex
    justify-content: space-between
    align-items: center
    padding: 28px 100px 0
  &__contacts
    text-align center
  &__button
    padding 16px 36px
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    background-color transparent
    border 2px solid secondColor;
    color: #ffffff;
  &__phone
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    white-space: nowrap
    &:before
      content: '\f095'
      font-family FontAwesome
      margin-right 4px
      color secondColor
    &_margin
      margin-bottom 20px
    &_big
      font-size: 32px;
      font-weight: 700;
