.header
  height 100vh
  background url('/img/header-main-bg.png') center center no-repeat
  background-size cover
  &__top
    display flex
    justify-content: space-between
    align-items: center
    padding: 28px 100px 0
  &__contacts
    text-align center
  &__button
    padding 16px 36px
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    background-color transparent
    border 2px solid secondColor;
    color: #ffffff;
    position relative
    overflow hidden
    cursor: pointer
    & span
      position relative
      z-index 1
    &:hover:before
      width 300px
    &:before
      content: ''
      z-index: 0
      position absolute
      top -30px
      left -40px
      width 30px
      height 100px
      background-color secondColor
      border-radius 50%
      transition .5s
  &__phone
    display block
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    white-space: nowrap
    &:before
      content: '\f095'
      font-family FontAwesome
      margin-right 4px
      color secondColor
    &_margin
      margin-bottom 20px
    &_big
      font-size: 32px;
      font-weight: 700;
