.menu
  display flex
  z-index 10
  &__item
    margin-right 30px
    position relative
    white-space: nowrap
    &:before
      content ''
      position absolute
      top calc(100% + 4px)
      left 0
      height 2px
      width 0%
      background-color secondColor
      transition .3s
    &:last-child
      margin-right: 0
    &:hover:before
      width 100%
    &_drop
      cursor:  pointer
      &:hover ^[0]__submenu
        opacity 1
        top 100%
        transform: translateY(0)
      &:after
        content '\f107'
        font-family: FontAwesome
        color #aaaab2
      &:before
        display none
  &__submenu
    border-top: 8px solid transparent
    position absolute
    top 0%
    left 0
    opacity 0
    transform: translateY(-9999px)
    display flex
    flex-direction: column
    transition: top .5s, opacity 0.5s
    background-color: rgba(#292732,1);
    background-clip: padding-box
    padding: 12px 44px 28px 28px;
    z-index: 10
    & ^[0]__link:hover
      color secondColor
    & ^[0]__link
      color: white
  &__link
    font-family: Lato;
    font-size: 16px;
    color: #aaaab2;
    white-space: nowrap
    transition: .3s
    &_margin
      margin-top 12px
    &:hover
      color: white
