.part
  &__form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
  &__item
    margin-bottom 36px
    position: relative
    display flex
    justify-content: center
    align-items: center
  &__input
    width 400px
    background: transparent
    border none
    border-bottom 3px solid #3c3c49
    padding 16px 16px
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    cursor pointer
  &__label
    position: absolute;
    top: 16px;
    left: 18px;
    color: #656574;
    transition: .5s;
    pointer-events: none;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
  &__text
    color: #717180;
    font-family: Lato
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    cursor pointer
    width 80%
    & span
      text-decoration: underline;
  &__confirm
    width 22px
    height: 22px
    display: block
    position relative
    background url('../img/confirm-false.png') center center no-repeat
    background-size contain
    cursor pointer
    margin-right 18px
  &__checkbox
    display none
.part__confirm input[type="checkbox"]:checked + span
  position: absolute
  left 0
  top 0
  width 22px
  height: 22px
  cursor pointer
  background url('../img/confirm-true.png') center center no-repeat
  background-size contain

.part__input:focus + .part__label, .part__input:valid + .part__label
  top -6px
  left: 16px;
  color: #ffffff;
  font-size: 14px;
