.portfolio
  padding-top 70px
  &__buttons
    display flex
    flex-wrap: wrap
  &__button
    border none
    background-color transparent
    margin 0 60px 38px 0
    color: #b2b2bd;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer
    user-select none
    transition .3s
    &_selected
      position relative
      &:after
        content: ''
        position absolute
        top calc(100% + 4px)
        left 0
        height 4px
        width 100%
        background-color secondColor
    &:hover
      color: #17171d;
  &__blocks
    display flex
    flex-wrap: wrap
  &__block
    display flex
    align-items: center
    flex-basis: 50%
    flex-grow: 1
    height 588px
    position relative
    overflow hidden
    padding-left 2%
    &_last
      justify-content:  center
    &:hover ^[0]__image
      transform scale(1.1)
  &__more
    color: #17171d;
    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 700;
    border-bottom 4px solid secondColor
    &:after
      content: '\f105'
      font-family: FontAwesome
      color secondColor
      margin-left 18px
      position relative
      top 2px
  &__image
    position absolute
    top 0
    left 0
    z-index -1
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    width 100%
    height 104%
    transform-origin: center center
    transition: 2s
  &__header
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    &_dark
      color: #17171d;
  &__text
    color: #ffffff;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    padding 30px 0 40px
    &_dark
      color: #17171d;
