.prices
  padding 100px 0 100px 0
  &__block
    display flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom 100px
    position: relative
  &__item
    position: relative
    flex-basis: 44%
    margin-bottom: 10px
    display flex
    flex-direction: column
    justify-content: space-between
    padding 40px 0 40px 0
  &__title
    display flex
    justify-content: flex-start
    align-items: center
    margin-bottom 40px
  &__name
    width 60%
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  &__img
    width 66px
    height 66px
    object-fit: cover
    margin-right: 60px
  &__content
    margin-bottom 20px
    p
      position: relative
      color: #17171d;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      padding-left: 20px
      margin-bottom 20px
      line-height: 28px;
      &:before
        content "-"
        position: absolute
        left 0
        top 0
        font-size: 30px
        color secondColor
  &__cost
    color: #17171d;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
  &__footer
    display flex
    justify-content: space-between
    align-items center
  &__more
    display flex
    justify-content: center
    align-items center
    flex-direction: column
    &_title
      font-family: 'Gotham Pro';
      font-weight: bold
      font-size: 40px;
      margin-bottom 30px
    &_information
      color: #17171d;
      font-family: Lato;
      font-size: 30px;
      & a
        font-family: 'Gotham Pro';
        font-weight: bold
        font-size: 30px;
        color black
