.promotion
  text-align center
  &__title
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align center
    line-height: 74px
    &_land
      text-align left
      text-transform none
      font-size 46px
      line-height 54px
      margin-bottom 38px
    &_line
      position relative
      padding-bottom 24px
      margin-bottom 44px !important
      &:after
        content ''
        left 0
        bottom 0
        width 100px
        height 4px
        position: absolute
        background-color: secondColor

  &__descript
    font-size 24px
    text-align left
    font-weight 600
    line-height 34px
    font-family: 'Lato';
    &_marg
      margin-bottom 20px

  &__block
    display flex
    flex-wrap: wrap
    justify-content: space-between
    text-align left
    margin 56px 0 68px 0
  &__item
    flex-basis: 50%
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    padding-left 14%
    margin-bottom 24px
    &_full
      padding-left 0
      flex-basis 100%
      font-weight 600
    &:before
      content '\f00c'
      font-family: FontAwesome
      color secondColor
      padding-right 4px
      margin-right 16px

@media (max-width:1450px)
  .promotion
    &__title
      &_land
        margin-bottom 20px
        font-size 37px
    &__descript
      font-size 22px
    &__block
      &_services
        margin: 20px 0 10px 0;
    &__item
      &_full
        margin-bottom 20px
@media (max-width:991px)
  .g-wrapper
    &_services
      padding 0 20px
  .promotion
    &__item
      &_full
        padding-left 0 !important
    &__title
      &_land
        line-height 46px

@media (max-width: 700px)
  .promotion
    &__item
      &_full
        font-size 14px
    &__title
      &_land
        font-size 24px !important
    &__descript
      display none
      &_vis
        display block
        font-size: 14px;
        line-height: 22px;
  .g-wrapper
    &_services
      padding 0 20px !important
