.request
  background-color: #17171d;
  background url('../img/request-bg.png') center center no-repeat
  background-size cover
  position relative
  padding 140px 0 140px 0
  margin-bottom 100px
  color white
  &__content
    display flex
    flex-direction: column
    align-items center
  &__title
    font-family: "Gotham Pro";
    font-size: 42px;
    font-weight: 700;
    text-align center
    margin-bottom 54px
  &__text
    width 74%
    font-family: Lato;
    font-size: 24px
    font-weight: 700;
    line-height: 34px
    margin 0 auto
    text-align center
    margin-bottom 64px
  &__submit
    display inline-block
    margin 0 auto
  &__particle
    position absolute
    &_1
      right 0
      bottom -72px
    &_2
      right 10%
      top 0
    &_3
      left 8%
      top 30%

@media (max-width:1200px)
  .request
    padding 100px 0
