.services
  background-color: #17171d;
  padding-bottom 300px
  padding-top 100px
  &__block
    display flex
    flex-wrap: wrap;
    justify-content: space-between;
  &__item
    position relative
    flex-basis: 30%;
    margin: 80px 0;
  &__title
    color: #ffffff;
    font-family: Lato;
    width 80%
    font-size: 22px;
    padding-top 60px
    margin-bottom: 76px
  &__img
    position: absolute
    top 0
    left 80px

