.software
  &__item
    display flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
  &__title
    display flex
    justify-content: flex-start
    align-items: center
    margin-bottom 30px
  &__img
    margin-right 34px
  &__name
    color: #17171d;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
  &__skill
    color: #17171d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    &_about
      color: #17171d;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
  &__cost
    color: #17171d;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
