.team
  position relative
  padding 184px 0 0 0
  background #17171d url('../img/team-bg.png') no-repeat
  background-size: cover
  &__block
    display flex
    flex-wrap: nowrap
    justify-content: flex-start
    &_wrap
      flex-wrap wrap
      justify-content: space-around
  &__person
    display flex
    flex-direction: column
    justify-content: flex-start
    align-items:center
    flex-basis: 24%;
    margin-right: 50px;
    margin-bottom 60px;
    &:last-child
      margin-right 0
    &_basis
      flex-basis 26%
      margin-right: 0
      margin-bottom 48px
  &__img
    display block
    margin-bottom 34px
    width 100%
  &__name
    color: #ffffff;
    font-family: Lato;
    font-size: 26px;
    margin-bottom 16px
    text-align: center
  &__post
    position relative
    opacity: 0.67;
    color: #b0b0c1;
    font-family: Lato;
    font-size: 16px;
    margin-bottom 50px
    text-align: center
    &:after
      content ""
      position absolute
      bottom: -36px;
      left: 40%;
      width 48px
      height 14px
      background: url(../img/team-light.png)
  &__descript
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center




