.thanks
  padding 192px 0 164px 0
  background #17171d url('../img/team-bg.png') no-repeat
  background-size: cover
.reviews
  &-slider
    width 100%
    overflow hidden
    position relative
    & img
      height 450px
      display block
      margin 0 auto
  &-pagination
    display flex
    justify-content: center
    margin-top 66px
    & .swiper-pagination-bullet
      height 16px
      width 16px
      background: url(/img/pag.png) center center no-repeat;
    & .swiper-pagination-bullet-active
      background: url(/img/pag-act.png) center center no-repeat;
