block vars
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/swiper.css")
    title= pageTitle
  body
    .wrapper
      header.header(style=headerHeight && 'height:'+headerHeight+'px')
        .header__top
          a(href='/')
            img.header__logo(src="/img/logo.png")
          nav.header__menu.menu
            nav.menu__item
              a.menu__link(href="/") Главная
            nav.menu__item
              a.menu__link(href="#") О студии
            nav.menu__item
              a.menu__link(href="/team.html") Команда
            nav.menu__item.nav.menu__item_drop
              a.menu__link Услуги
              nav.menu__submenu
                a.menu__link.menu__link_margin(href="/websites.html") Разработка сайтов
                a.menu__link.menu__link_margin(href="/promotion.html") Продвижение
                a.menu__link.menu__link_margin(href="/software.html") Разработка ПО
                //a.menu__link.menu__link_margin(href="#") Дизайн
                a.menu__link.menu__link_margin(href="/analytics.html") Аналитика
                a.menu__link.menu__link_margin(href="/mobile.html") Разработка мобильных приложений
            nav.menu__item
              a.menu__link(href="#") Цены
            nav.menu__item
              a.menu__link(href="/portfolio.html") Портфолио
            nav.menu__item
              a.menu__link(href="#") Блог
            nav.menu__item
              a.menu__link(href="/contacts.html") Контакты
          .header__contacts
            a.header__phone.header__phone_margin(href="tel:+74959999999") +7 (495) #[span.header__phone_big 999-99-99]
            button.header__button #[span Заказать звонок]
        .header__main
          if (!customHeader)
            .header__about
              .header__title Помогаем различному бизнесу пройти через тернии к звёздам
              .header__text Мы разрабатываем по-настоящему конверсионные сайты и занимаемся результативным продвижением.
          else
            block header
      block content
      footer.footer
        .g-wrapper
          .navigation
            .navigation__col
              .navigation__title Навигация
              a.navigation__link(href="#") Главная
              a.navigation__link(href="#") О компании
              a.navigation__link(href="#") Команда
              a.navigation__link(href="#") Цены
              a.navigation__link(href="#") Портфолио
              a.navigation__link(href="#") Блог
              a.navigation__link(href="#") Контакты
            .navigation__col.navigation__col_center
              .navigation__title Наши услуги
              a.navigation__link(href="#") Разработка сайтов
              a.navigation__link(href="#") Интернет-маркетинг
              a.navigation__link(href="#") Разработка дизайна
              a.navigation__link(href="#") Разработка сложных IT-проектов
            .navigation__col
              .navigation__title Соц. сети
              a.footer__icon(href="#")
                include ../../images/fa-vk.svg
              a.footer__icon(href="#")
                include ../../images/fa-behance.svg
              a.footer__icon(href="#")
                include ../../images/fa-twitter.svg
              a.footer__icon(href="#")
                include ../../images/fa-facebook.svg
              a.footer__icon(href="#")
                include ../../images/fa-instagram.svg
              .navigation__title Контакты
              a.footer__contacts.footer__contacts_phone(href="tel:+74959999999") +7 (495) 999-99-99
              a.footer__contacts.footer__contacts_mail(href="mailto:info@spacecode.ru") info@spacecode.ru
              .footer__contacts.footer__contacts_address г. Москва, ул. Большая тульская, дом 17, офис 36
    script(src="/js/bundle.js")
